n8n-workflow-orchestrator.json
[{"updatedAt":"2026-03-05T17:24:47.000Z","createdAt":"2026-03-05T16:32:52.605Z","id":"lIiIQQnxfZOiOJrGag3Wn","name":"TechnoStore - Subagent Orchestrator v15 (Single Workflow, Robust)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"techno-sales","options":{}},"id":"d8fc318b-f3bb-41ff-8454-01afb15a2c74","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4080,96],"webhookId":"techno-sales"},{"parameters":{"jsCode":"// Parse incoming Full Contact Data from ManyChat - v15\nconst raw = $input.first().json;\nconst body = raw.body || raw || {};\n\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\n\nconst getCustomField = (fields, key) => {\n  if (Array.isArray(fields)) {\n    const hit = fields.find((item) => item?.name === key || item?.key === key || item?.field_name === key);\n    return hit?.value ?? '';\n  }\n  if (fields && typeof fields === 'object') {\n    return fields[key] ?? '';\n  }\n  return '';\n};\n\nconst subscriberId = String(body.subscriber_id || body.id || '');\nconst message = String(body.message || body.last_input_text || '').trim();\nconst firstName = body.first_name || 'amigo';\nconst lastName = body.last_name || '';\nconst phone = body.whatsapp_phone || body.phone || '';\nconst timezone = body.timezone || '';\nconst subscribedAt = body.subscribed || body.subscribed_at || '';\n\nconst customFields = body.custom_fields || {};\nconst city = getCustomField(customFields, 'city');\nconst funnelStage = getCustomField(customFields, 'funnel_stage');\nconst interestedProduct = getCustomField(customFields, 'interested_product');\nconst isHumanActive = toBool(getCustomField(customFields, 'is_human_active'));\n\n// Audio detection: ManyChat WhatsApp usually sends CDN URLs\nconst isAudio = message.startsWith('https://')\n  && (message.includes('fbsbx.com') || message.includes('fbcdn.net') || message.includes('manybot-files.s3'));\n\n// Empty message detection (customer opened chat without text)\nconst isEmpty = !message;\n\n// Infer Salta from phone number (+549387 or +54387)\nconst normalizedPhone = String(phone).replace(/\\s+/g, '');\nconst isSaltaPhone = normalizedPhone.startsWith('+549387')\n  || normalizedPhone.startsWith('+54387')\n  || normalizedPhone.startsWith('549387');\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    first_name: firstName,\n    last_name: lastName,\n    phone,\n    timezone,\n    subscribed_at: subscribedAt,\n    city,\n    funnel_stage: funnelStage,\n    interested_product: interestedProduct,\n    is_human_active: isHumanActive,\n    raw_message: message,\n    is_audio: isAudio,\n    is_empty: isEmpty,\n    is_salta_phone: isSaltaPhone\n  }\n}];\n"},"id":"6e95898a-1157-486e-b421-2f42ea5905b4","name":"Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"cond-audio","leftValue":"={{ $json.is_audio }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"cdcdc120-977a-4d7f-b7d3-cc1c3edf8710","name":"Is Audio?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3632,96]},{"parameters":{"url":"={{ $json.raw_message }}","options":{"response":{},"timeout":15000}},"id":"36d81452-b529-4916-a11a-0ea6b1c07cf6","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3408,24],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3-turbo"},{"name":"language","value":"es"},{"name":"response_format","value":"json"}]},"options":{"timeout":15000}},"id":"f3680d9c-b8dc-45dd-87b3-0dc2d4166be9","name":"Groq Whisper Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3184,24],"credentials":{"httpHeaderAuth":{"id":"mw4ftZwdAxSdWFjU","name":"Groq Whisper"}},"continueOnFail":true},{"parameters":{"jsCode":"// Merge: audio transcription or text input – v14\nconst detectData = $('Parse Input').first().json;\nlet userMessage, wasAudio;\n\ntry {\n  const whisperOutput = $('Groq Whisper Transcribe').first().json;\n  userMessage = whisperOutput.text || 'No pude entender el audio.';\n  wasAudio = true;\n} catch(e) {\n  userMessage = detectData.raw_message;\n  wasAudio = false;\n}\n\nreturn [{\n  json: {\n    ...detectData,\n    user_message: userMessage,\n    was_audio: wasAudio\n  }\n}];"},"id":"cf97d675-4c86-4fa0-a577-5764ef8eb9b6","name":"Merge Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2960,96]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ manychat_id: String($json.subscriber_id), customer_id: null, role: \"user\", message: $json.user_message || \"(vacío)\", message_type: $json.was_audio ? \"audio\" : \"text\", was_audio: $json.was_audio || false, audio_transcription: $json.was_audio ? $json.user_message : null, intent_detected: null, products_mentioned: [], triggered_human: false }) }}","options":{"timeout":5000}},"id":"db2ba46e-e64a-4e86-81c9-02bed77bd161","name":"Save Incoming Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2736,96]},{"parameters":{"jsCode":"// Wait 8 seconds so users can finish typing bursts (2-3 consecutive messages)\nconst data = $input.first().json;\nawait new Promise((resolve) => setTimeout(resolve, 8000));\nreturn [{ json: data }];\n"},"id":"f3847021-d9e1-443c-a313-062fae6ead5c","name":"Wait 8s Debounce","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2512,96]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_is_latest_message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_manychat_id\": \"{{ $(\"Merge Input\").first().json.subscriber_id }}\",\n  \"p_message_id\": {{ (() => { const s = $(\"Save Incoming Message\").first().json; const id = Array.isArray(s) && s[0] ? s[0].id : (s && s.id); return id != null ? id : 0; })() }}\n}","options":{"timeout":5000}},"id":"24f68aa4-c4a4-43a4-9b1d-3586fb44f1f3","name":"Check Is Latest (RPC)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,96]},{"parameters":{"jsCode":"// --------------------------------------------------\n// DEBOUNCE CHECK v15 - Atomic latest-message validation\n// After debounce wait, continue only if this message is still latest\n// --------------------------------------------------\n\nconst mergedData = $('Merge Input').first().json;\nconst saveNode = $('Save Incoming Message').first();\n\nlet ourId = null;\nconst savedBody = saveNode.json;\n\nif (Array.isArray(savedBody)) {\n  if (savedBody.length > 0 && savedBody[0]?.id !== undefined) {\n    ourId = savedBody[0].id;\n  }\n} else if (savedBody && typeof savedBody === 'object') {\n  if (savedBody.id !== undefined) {\n    ourId = savedBody.id;\n  }\n}\n\nif (ourId === null || ourId === undefined) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'could_not_extract_saved_message_id' } }];\n}\n\nconst rpcResult = $('Check Is Latest (RPC)').first().json;\n\nlet isLatest = false;\nif (typeof rpcResult === 'boolean') {\n  isLatest = rpcResult;\n} else if (Array.isArray(rpcResult) && rpcResult.length > 0) {\n  isLatest = rpcResult[0] === true || rpcResult[0]?.check_is_latest_message === true;\n} else if (rpcResult && typeof rpcResult === 'object') {\n  isLatest = rpcResult.check_is_latest_message === true || rpcResult.result === true;\n}\n\nif (!isLatest) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'not_latest' } }];\n}\n\nreturn [{ json: { ...mergedData, should_continue: true, our_id: ourId } }];\n"},"id":"a79a7b6f-1f39-40c7-93d1-af14f53e5590","name":"Debounce Check v14","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"cond-latest","leftValue":"={{ $json.should_continue }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"bf9fe571-a832-47d0-81ae-6e0592dafafa","name":"Is Latest?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,96]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations?manychat_id=eq.{{ $('Merge Input').first().json.subscriber_id }}&role=eq.user&order=created_at.desc&limit=12&created_at=gte.{{ new Date(Date.now() - 40000).toISOString() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":7000}},"id":"a434664f-b9da-4e5b-a171-89513f8cd435","name":"Fetch Recent Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1616,0]},{"parameters":{"jsCode":"// Anchor node so Merge & Aggregate runs even when recent fetch returns empty.\nreturn [{ json: $input.first().json }];"},"id":"8944c6cc-ea0f-40b9-94f0-16cecaad804a","name":"Ensure Merge Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,192]},{"parameters":{"jsCode":"// --------------------------------------------------\n// MERGE & AGGREGATE recent user messages v15\n// Consolidates burst messages from the last 40 seconds into one reply\n// --------------------------------------------------\n\nconst mergedData = $('Debounce Check v14').first().json;\n\nlet recentRaw = [];\ntry {\n  recentRaw = $('Fetch Recent Messages').all();\n} catch (e) {\n  recentRaw = [];\n}\n\nconst byId = new Map();\nfor (const item of recentRaw) {\n  const payload = item.json;\n  const rows = Array.isArray(payload) ? payload : [payload];\n  for (const row of rows) {\n    if (!row || row.id === undefined || row.id === null) continue;\n    byId.set(row.id, row);\n  }\n}\n\nconst recentMessages = [...byId.values()]\n  .filter((row) => row.role === 'user')\n  .sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\nif (recentMessages.length <= 1) {\n  return [{ json: { ...mergedData, messages_merged: 1 } }];\n}\n\nconst combined = recentMessages\n  .map((m) => String(m.message || '').trim())\n  .filter((m) => m && m !== '(vacío)')\n  .join(' ');\n\nreturn [{\n  json: {\n    ...mergedData,\n    user_message: combined || mergedData.user_message,\n    messages_merged: recentMessages.length\n  }\n}];\n"},"id":"74250063-f93d-4ee7-816d-9775348bb7ec","name":"Merge & Aggregate Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,192]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_customer","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_manychat_id\": \"{{ $json.subscriber_id }}\",\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_whatsapp_phone\": \"{{ $json.phone }}\",\n  \"p_first_name\": \"{{ $json.first_name }}\",\n  \"p_last_name\": \"{{ $json.last_name }}\",\n  \"p_timezone\": \"{{ $json.timezone }}\",\n  \"p_is_salta_phone\": {{ $json.is_salta_phone || false }}\n}","options":{"timeout":5000}},"id":"757c9085-38e8-45f3-a013-1024e95ca9e0","name":"Upsert Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,192]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/v_customer_context?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{"timeout":5000}},"id":"d2d6064a-9f77-43a8-95f3-da5977ba96a9","name":"Fetch Customer Profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,288]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/v_recent_conversations?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=8&order=created_at.desc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{"timeout":5000}},"id":"fb893cac-ca28-4a8a-b0de-6fc49a3ff7da","name":"Fetch Conversation History","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,288]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/v_product_catalog?order=category,price_ars.desc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{"timeout":5000}},"id":"482aecb5-8331-4be3-9c1b-f74f630a802a","name":"Fetch Products","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,288]},{"parameters":{"jsCode":"// =============================================\n// BUILD AI CONTEXT v18 - structured context for subagents\n// =============================================\n\nif ($input.context.itemIndex > 0) return [];\n\nconst merged = $('Merge & Aggregate Messages').first().json;\n\n// --- Customer Profile ---\nlet customerData = {};\ntry {\n  const raw = $('Fetch Customer Profile').first().json;\n  if (Array.isArray(raw) && raw.length > 0) customerData = raw[0];\n  else if (raw && raw.manychat_id) customerData = raw;\n} catch (e) {\n  customerData = {};\n}\n\n// --- Conversation History ---\nlet historyRows = [];\ntry {\n  const items = $('Fetch Conversation History').all();\n  for (const item of items) {\n    const d = item.json;\n    if (Array.isArray(d)) historyRows.push(...d);\n    else if (d && d.role && d.message) historyRows.push(d);\n  }\n} catch (e) {\n  historyRows = [];\n}\n\n// --- Product Catalog + IMAGE/STOCK MAPS ---\nlet productRows = [];\nlet productImages = {};\nlet productKeyNameMap = {};\nlet productStockMap = {};\n\nconst normalizeBrand = (value) => {\n  const v = String(value || '').toLowerCase();\n  if (v.includes('iphone') || v.includes('apple')) return 'IPHONE';\n  if (v.includes('samsung')) return 'SAMSUNG';\n  if (v.includes('redmi') || v.includes('poco') || v.includes('xiaomi')) return 'REDMI/POCO';\n  return 'OTHER';\n};\n\ntry {\n  const items = $('Fetch Products').all();\n  for (const item of items) {\n    let d = item.json;\n    if (d && d.data && Array.isArray(d.data)) d = d.data;\n\n    const rows = Array.isArray(d) ? d : (d ? [d] : []);\n    for (const p of rows) {\n      if (!p || !p.product_key) continue;\n\n      const brand = normalizeBrand(p.category);\n      const imageUrl = p.image_url || p.image || p.url || '';\n\n      const row = {\n        id: p.id,\n        product_key: String(p.product_key),\n        brand,\n        category: p.category || null,\n        product_name: p.product_name || String(p.product_key),\n        ram_gb: p.ram_gb ?? null,\n        storage_gb: p.storage_gb ?? null,\n        color: p.color ?? null,\n        network: p.network ?? null,\n        price_ars: p.price_ars ?? null,\n        promo_price_ars: p.promo_price_ars ?? null,\n        price_usd: p.price_usd ?? null,\n        bancarizada_total: p.bancarizada_total ?? null,\n        bancarizada_cuota: p.bancarizada_cuota ?? null,\n        macro_total: p.macro_total ?? null,\n        macro_cuota: p.macro_cuota ?? null,\n        cuotas_qty: p.cuotas_qty ?? 6,\n        in_stock: p.in_stock !== false,\n        delivery_type: p.delivery_type ?? 'immediate',\n        delivery_days: p.delivery_days ?? 0,\n        image_url: String(imageUrl || '').trim()\n      };\n\n      productRows.push(row);\n      productKeyNameMap[row.product_key] = String(row.product_name || '').trim();\n      productStockMap[row.product_key] = row.in_stock;\n\n      if (row.image_url && row.image_url.startsWith('http')) {\n        productImages[row.product_key] = row.image_url;\n      }\n    }\n  }\n} catch (e) {\n  productRows = [];\n}\n\nconst incomingHumanActive = merged.is_human_active === true;\nconst customerHumanAssigned = customerData.human_assigned === true;\nconst humanAssigned = incomingHumanActive || customerHumanAssigned;\n\nif (humanAssigned) {\n  return [{\n    json: {\n      skip_ai: true,\n      reason: incomingHumanActive ? 'manychat_human_active' : 'customer_human_assigned',\n      subscriber_id: merged.subscriber_id,\n      first_name: merged.first_name,\n      phone: merged.phone,\n      user_message: merged.user_message,\n      was_audio: merged.was_audio,\n      customer_id: customerData.id || null,\n      customer_profile: customerData,\n      product_catalog: productRows,\n      product_images: productImages,\n      product_key_name_map: productKeyNameMap,\n      product_stock_map: productStockMap\n    }\n  }];\n}\n\nhistoryRows.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\nconst userHistoryCount = historyRows.filter((h) => h.role === 'user').length;\nconst totalInteractions = Number(customerData.total_interactions || 0);\nconst isFirstInteraction = totalInteractions <= 1 || userHistoryCount <= 1;\n\nconst historyCompact = historyRows.slice(-20).map((h) => ({\n  role: h.role,\n  message: h.message,\n  created_at: h.created_at\n}));\n\nconst storePolicies = {\n  payments: 'Transferencia bancaria en pesos, transferencia en dólares, Bitcoin y USDT (TRC-20) 0% recargo, efectivo en pesos/dólares solo Salta Capital. No créditos personales.',\n  shipping: 'Envíos GRATIS a sucursal (BusPack/Flecha Carga, OCA, Vía Cargo). Sin costo de despacho ni embalaje. Despacho desde 72 horas hábiles. Salta Capital entrega en el día. Interior de Salta 24 hs.',\n  location: 'Caseros 1365, Salta Capital. Diagonal a OCA.',\n  human_hours: 'Lun-Vie 10:00-13:00 y 18:00-21:00 | Sáb 10:00-13:00 | Dom cerrado'\n};\n\nreturn [{\n  json: {\n    skip_ai: false,\n    subscriber_id: merged.subscriber_id,\n    first_name: merged.first_name,\n    phone: merged.phone,\n    user_message: merged.user_message || '',\n    was_audio: merged.was_audio,\n    customer_id: customerData.id || null,\n    customer_profile: customerData,\n    history_compact: historyCompact,\n    is_first_interaction: isFirstInteraction,\n    product_catalog: productRows,\n    product_images: productImages,\n    product_key_name_map: productKeyNameMap,\n    product_stock_map: productStockMap,\n    store_policies: storePolicies\n  }\n}];\n"},"id":"66213bcd-4f29-4f68-b9a1-b954c3a70bde","name":"Build AI Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"cond-human","leftValue":"={{ $json.skip_ai }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6479d21b-6fad-4660-9b81-d056c90022b2","name":"Human Active?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,288]},{"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ json: { skip_send: true, subscriber_id: data.subscriber_id } }];"},"id":"e60fed8a-3192-4618-a040-1cf48999d993","name":"Skip (Human Active)","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,288]},{"parameters":{"jsCode":"// Process response from subagent contracts + hard delivery guards (ManyChat limits)\n\nconst data = $input.first().json;\nconst mergedData = $('Merge & Aggregate Messages').first().json;\nconst contextData = $('Build AI Context').first().json;\n\nconst orchestrator = data.agent_orchestrator || {};\nconst catalog = data.agent_catalog || {};\nconst media = data.agent_media || {};\nconst delivery = data.agent_delivery || {};\n\nconst escapeRegExp = (value) => String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst productKeyNameMap = contextData.product_key_name_map || {};\n\nconst keyAliasPairs = Object.entries(productKeyNameMap).flatMap(([key, name]) => {\n  const human = String(name || key).trim();\n  const variants = [key, key.replace(/_/g, '-'), key.replace(/-/g, '_')];\n  return [...new Set(variants)].map((variant) => ({ alias: variant, human }));\n});\n\nconst sanitizeInternalIds = (text) => {\n  let out = String(text || '');\n\n  out = out\n    .replace(/\\bError:\\s*/gi, '')\n    .replace(/product[_\\s-]?keys?/gi, 'modelos')\n    .replace(/c[oó]digos?\\s+internos?/gi, 'modelos')\n    .replace(/`([^`]+)`/g, '$1');\n\n  for (const pair of keyAliasPairs) {\n    const re = new RegExp(`\\\\b${escapeRegExp(pair.alias)}\\\\b`, 'gi');\n    out = out.replace(re, pair.human);\n  }\n\n  out = out.replace(/\\b[a-z0-9]+(?:[-_][a-z0-9]+){3,}\\b/gi, 'ese modelo');\n  return out.replace(/\\s{2,}/g, ' ').trim();\n};\n\nconst mapIntent = (intentRaw) => {\n  const intent = String(intentRaw || '').trim().toLowerCase();\n  const allowed = new Set(['greeting', 'price_inquiry', 'stock_check', 'comparison', 'purchase_intent', 'cuotas_inquiry', 'shipping_inquiry', 'complaint', 'off_topic', 'followup', 'ambiguous']);\n  if (allowed.has(intent)) return intent;\n  if (intent === 'shipping') return 'shipping_inquiry';\n  if (intent === 'catalog') return 'price_inquiry';\n  return 'followup';\n};\n\nconst mapFunnel = (intent, needsHuman) => {\n  if (needsHuman) return 'human_handoff';\n  if (intent === 'greeting') return 'new';\n  if (intent === 'purchase_intent') return 'closing';\n  if (['price_inquiry', 'stock_check', 'comparison', 'cuotas_inquiry', 'shipping_inquiry'].includes(intent)) return 'interested';\n  return 'browsing';\n};\n\nif (delivery.is_silent === true) {\n  return [{\n    json: {\n      is_silent: true,\n      payload: null,\n      needs_human: false,\n      clean_text: '',\n      metadata: { intent: 'followup', funnel_update: 'no_change', products: 'none', city_detected: 'none', is_salta: 'unknown', brand_interest: 'none', budget_hint: 'none' },\n      products_list: [],\n      subscriber_id: mergedData.subscriber_id,\n      user_message: mergedData.user_message,\n      was_audio: mergedData.was_audio,\n      customer_id: contextData.customer_id,\n      current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n    }\n  }];\n}\n\nlet cleanText = sanitizeInternalIds(delivery.reply_text || 'Disculpá, ¿me repetís la consulta?');\n\nconst MAX_CHARS = 1600;\nconst MAX_MESSAGES = 8;\n\nconst splitTextSafely = (text, maxChars = MAX_CHARS, maxMessages = MAX_MESSAGES) => {\n  const normalized = String(text || '').replace(/\\r/g, '').trim();\n  if (!normalized) return [];\n\n  const sentenceParts = normalized\n    .split(/\\n+/)\n    .flatMap((part) => part.split(/(?<=[.!?])\\s+/))\n    .map((p) => p.trim())\n    .filter(Boolean);\n\n  const chunks = [];\n  let current = '';\n\n  const pushCurrent = () => {\n    if (current && current.trim()) chunks.push(current.trim());\n    current = '';\n  };\n\n  const appendPiece = (piece) => {\n    if (!piece) return;\n    if (!current) {\n      current = piece;\n      return;\n    }\n    if ((current.length + 1 + piece.length) <= maxChars) {\n      current += ' ' + piece;\n    } else {\n      pushCurrent();\n      current = piece;\n    }\n  };\n\n  for (const part of sentenceParts) {\n    if (part.length <= maxChars) {\n      appendPiece(part);\n      continue;\n    }\n\n    const words = part.split(/\\s+/).filter(Boolean);\n    let local = '';\n\n    const pushLocal = () => {\n      if (local) appendPiece(local.trim());\n      local = '';\n    };\n\n    for (const word of words) {\n      if (word.length > maxChars) {\n        pushLocal();\n        for (let i = 0; i < word.length; i += maxChars) {\n          appendPiece(word.slice(i, i + maxChars));\n        }\n        continue;\n      }\n\n      if (!local) {\n        local = word;\n      } else if ((local.length + 1 + word.length) <= maxChars) {\n        local += ' ' + word;\n      } else {\n        pushLocal();\n        local = word;\n      }\n    }\n\n    pushLocal();\n  }\n\n  pushCurrent();\n\n  if (chunks.length <= maxMessages) return chunks;\n\n  const trimmed = chunks.slice(0, maxMessages);\n  const note = '... Si querés, te lo paso más resumido por marca/modelo 👌';\n  const last = trimmed[trimmed.length - 1] || '';\n  const allowed = maxChars - note.length - 1;\n  trimmed[trimmed.length - 1] = (allowed > 50 ? last.slice(0, allowed).trim() : last.slice(0, maxChars - 1).trim()) + '\\n' + note;\n  return trimmed;\n};\n\nconst textChunks = splitTextSafely(cleanText, MAX_CHARS, MAX_MESSAGES);\nconst messagesArray = textChunks.length > 0\n  ? textChunks.map((chunk) => ({ type: 'text', text: sanitizeInternalIds(chunk) }))\n  : [{ type: 'text', text: 'Disculpá, ¿me repetís la consulta?' }];\n\nconst mediaMessages = Array.isArray(media.image_messages) ? media.image_messages : [];\nif (orchestrator.wants_images && mediaMessages.length > 0) {\n  for (const img of mediaMessages.slice(0, 4)) {\n    if (img?.url && String(img.url).startsWith('http')) {\n      messagesArray.push({ type: 'image', url: img.url, image_url: img.url });\n    }\n  }\n}\n\nconst productsFromCatalog = Array.isArray(catalog.matched_product_keys) ? catalog.matched_product_keys : [];\nconst productsFromMedia = Array.isArray(media.products_for_metadata) ? media.products_for_metadata : [];\nconst productsList = [...new Set([...productsFromMedia, ...productsFromCatalog])].filter(Boolean).slice(0, 6);\n\nconst intent = mapIntent(orchestrator.intent_primary);\nconst needsHuman = orchestrator.needs_human === true;\n\nconst metadata = {\n  intent,\n  products: productsList.length > 0 ? productsList.join(', ') : 'none',\n  funnel_update: mapFunnel(intent, needsHuman),\n  city_detected: orchestrator.city_detected || 'none',\n  is_salta: orchestrator.is_salta || 'unknown',\n  brand_interest: catalog.brand_interest || orchestrator.brand_interest || 'none',\n  budget_hint: orchestrator.budget_hint || 'none'\n};\n\nconst payload = {\n  subscriber_id: mergedData.subscriber_id,\n  data: {\n    version: 'v2',\n    content: {\n      type: 'whatsapp',\n      messages: messagesArray\n    }\n  }\n};\n\nreturn [{\n  json: {\n    is_silent: false,\n    payload,\n    needs_human: needsHuman,\n    clean_text: cleanText,\n    metadata,\n    products_list: productsList,\n    subscriber_id: mergedData.subscriber_id,\n    user_message: mergedData.user_message,\n    was_audio: mergedData.was_audio,\n    customer_id: contextData.customer_id,\n    current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n  }\n}];\n"},"id":"e223edb2-9bfd-464d-a102-5df67005cfe5","name":"Process Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"cond-silent","leftValue":"={{ $json.is_silent }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"46b1ebb0-e006-4188-a471-d8c18afe76a8","name":"Is Silent?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,480]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/sending/sendContent","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":30000}},"id":"100efc0f-15bb-4c57-b233-7f505039c257","name":"Send to WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,96],"credentials":{"httpHeaderAuth":{"id":"dTDdJWgAz1yrPfPe","name":"ManyChat API"}}},{"parameters":{"jsCode":"const data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nreturn [{\n  json: {\n    manychat_id: data.subscriber_id,\n    customer_id: data.customer_id || null,\n    role: 'bot',\n    message: data.clean_text || '(solo imágenes)',\n    message_type: 'text',\n    intent_detected: metadata.intent || null,\n    products_mentioned: products,\n    triggered_human: data.needs_human || false,\n    was_audio: false\n  }\n}];\n"},"id":"d01a6f15-c802-4d86-af7a-8bec52c724e4","name":"Prep Bot Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,288]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":5000}},"id":"5fa2b094-088d-4432-beef-405b7ae8f615","name":"Save Bot Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,288],"continueOnFail":true},{"parameters":{"jsCode":"const data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nconst stageRank = {\n  new: 0,\n  browsing: 1,\n  interested: 2,\n  closing: 3,\n  human_handoff: 4\n};\n\nconst currentStage = String(data.current_funnel_stage || '').trim().toLowerCase();\nconst requestedStage = String(metadata.funnel_update || '').trim().toLowerCase();\n\nconst updates = {\n  last_bot_interaction: new Date().toISOString(),\n  updated_at: new Date().toISOString()\n};\n\nif (requestedStage && requestedStage !== 'no_change') {\n  if (stageRank[requestedStage] !== undefined) {\n    if (stageRank[currentStage] === undefined || stageRank[requestedStage] >= stageRank[currentStage]) {\n      updates.funnel_stage = requestedStage;\n    }\n  }\n}\n\nif (metadata.city_detected && metadata.city_detected !== 'none') {\n  let city = metadata.city_detected.trim();\n  const lower = city.toLowerCase();\n  if (['salta', 'salta capital', 'salta cap'].includes(lower)) {\n    city = 'Salta Capital';\n    updates.is_salta_capital = true;\n  }\n  updates.city = city;\n}\n\nif (metadata.is_salta === 'true') updates.is_salta_capital = true;\nelse if (metadata.is_salta === 'false') updates.is_salta_capital = false;\n\nif (metadata.brand_interest && metadata.brand_interest !== 'none') updates.preferred_brand = metadata.brand_interest;\nif (metadata.budget_hint && metadata.budget_hint !== 'none') updates.preferred_budget = metadata.budget_hint;\nif (products.length > 0) updates.interested_product = products[0];\n\nif (data.needs_human) {\n  updates.human_assigned = true;\n  updates.funnel_stage = 'human_handoff';\n}\n\nreturn [{ json: { subscriber_id: data.subscriber_id, updates } }];\n"},"id":"33427f9d-ca03-45f1-87ba-afe8a61e9b78","name":"Prep Customer Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,480]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers?manychat_id=eq.{{ $json.subscriber_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.updates) }}","options":{"timeout":5000}},"id":"34deae77-8a39-41ca-a47b-0e3661f98cbf","name":"Update Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,480],"continueOnFail":true},{"parameters":{"jsCode":"// Backfill intent on the user's saved message after AI classification\nconst data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\n\nconst saveNode = $('Save Incoming Message').first();\nlet savedId = null;\nconst savedBody = saveNode.json;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  savedId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  savedId = savedBody.id;\n}\n\nconst intent = String(metadata.intent || '').trim();\nif (!savedId || !intent) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: savedId,\n    intent\n  }\n}];\n"},"id":"54931a6b-777e-4d5c-b584-dfd4d9e2f034","name":"Backfill User Intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,672]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ intent_detected: $json.intent }) }}","options":{"timeout":5000}},"id":"9072f120-f78d-454d-ad2c-1bec44091d28","name":"Update User Intent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,672],"continueOnFail":true},{"parameters":{"jsCode":"// Link the incoming conversation row to the upserted customer_id (best effort)\nconst upsertRaw = $input.first().json;\n\nconst toIntOrNull = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst extractCustomerId = (raw) => {\n  if (typeof raw === 'number' && Number.isFinite(raw)) return raw;\n  if (typeof raw === 'string') return toIntOrNull(raw);\n\n  if (Array.isArray(raw) && raw.length > 0) {\n    const first = raw[0];\n    if (typeof first === 'number' && Number.isFinite(first)) return first;\n    if (typeof first === 'string') return toIntOrNull(first);\n    if (first && typeof first === 'object') {\n      if (first.upsert_customer !== undefined && first.upsert_customer !== null) return toIntOrNull(first.upsert_customer);\n      if (first.customer_id !== undefined && first.customer_id !== null) return toIntOrNull(first.customer_id);\n      if (first.id !== undefined && first.id !== null) return toIntOrNull(first.id);\n    }\n  }\n\n  if (raw && typeof raw === 'object') {\n    if (raw.upsert_customer !== undefined && raw.upsert_customer !== null) return toIntOrNull(raw.upsert_customer);\n    if (raw.customer_id !== undefined && raw.customer_id !== null) return toIntOrNull(raw.customer_id);\n    if (raw.id !== undefined && raw.id !== null) return toIntOrNull(raw.id);\n  }\n\n  return null;\n};\n\nconst customerId = extractCustomerId(upsertRaw);\n\nconst saveNode = $('Save Incoming Message').first();\nconst savedBody = saveNode.json;\nlet messageId = null;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  messageId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  messageId = savedBody.id;\n}\n\nconst parsedMessageId = toIntOrNull(messageId);\nif (!Number.isFinite(customerId) || !Number.isFinite(parsedMessageId)) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: parsedMessageId,\n    customer_id: customerId\n  }\n}];\n"},"id":"5af9fa92-67d3-463c-9cc1-511f8958f726","name":"Prep Incoming Message Customer Link","type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,96]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ customer_id: $json.customer_id }) }}","options":{"timeout":5000}},"id":"afee327a-0809-4737-8340-21ad622b286c","name":"Backfill Incoming Message Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,96],"continueOnFail":true},{"parameters":{"jsCode":"// Agent 1 - Orchestrator\n// Strict contract: classifies intent and routing flags only.\n\nconst ctx = $input.first().json;\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst textRaw = String(ctx.user_message || '').trim();\nconst text = normalize(textRaw);\nconst isEmpty = text.length === 0;\n\nconst has = (re) => re.test(text);\n\nconst flags = {\n  wants_images: has(/\\b(foto|fotos|imagen|imagenes|mandame|enviame|mostrame|mostrar foto|quiero ver)\\b/),\n  wants_catalog: has(/\\b(catalogo|catologo|lista|todos|todo el catalogo|ver todo|android y iphone|iphone y android|que tienen|precios)\\b/),\n  wants_payment: has(/\\b(pago|pagos|transferencia|tarjeta|credito|debito|btc|bitcoin|usdt|trc|cripto|crypto|efectivo|dolares|dólares)\\b/),\n  wants_shipping: has(/\\b(envio|envios|despacho|sucursal|oca|buspack|via cargo|flecha|entrega|retiro|shipping)\\b/),\n  wants_installments: has(/\\b(cuotas|cuota|financiacion|financiación|6 cuotas|6cts|bancarizada|macro)\\b/),\n  wants_human: has(/\\b(humano|persona|asesor|agente|joaco|joaquin|joaquín)\\b/),\n  complaint: has(/\\b(reclamo|queja|devolucion|devolución|garantia|garantía|problema|estafa|denuncia)\\b/),\n  post_sale: has(/\\b(ya pague|ya pagué|mi pedido|seguimiento|tracking|cuando llega|cu[aá]ndo llega|ya transferi|ya transferí)\\b/),\n  greeting: has(/^(hola|buenas|buen dia|buenos dias|buenas tardes|buenas noches|que tal|q tal)$/),\n  comparison: has(/\\b(vs|comparar|comparacion|comparación|diferencia|cual conviene|cu[aá]l conviene|entre)\\b/)\n};\n\nconst brandInterest = (() => {\n  if (has(/\\b(iphone|apple)\\b/)) return 'IPHONE';\n  if (has(/\\b(samsung|galaxy)\\b/)) return 'SAMSUNG';\n  if (has(/\\b(redmi|poco|xiaomi)\\b/)) return 'REDMI/POCO';\n  return 'none';\n})();\n\nlet intent = 'followup';\nif (isEmpty) intent = 'followup';\nelse if (flags.wants_human || flags.complaint || flags.post_sale) intent = 'complaint';\nelse if (flags.wants_installments) intent = 'cuotas_inquiry';\nelse if (flags.wants_shipping) intent = 'shipping_inquiry';\nelse if (flags.wants_payment) intent = 'price_inquiry';\nelse if (flags.comparison) intent = 'comparison';\nelse if (flags.wants_catalog) intent = 'price_inquiry';\nelse if (flags.greeting) intent = 'greeting';\n\nconst needsHuman = flags.wants_human || flags.complaint || flags.post_sale;\nconst shouldReply = !isEmpty || Boolean(ctx.is_first_interaction);\n\nreturn [{\n  json: {\n    ...ctx,\n    agent_orchestrator: {\n      version: '1.0',\n      should_reply: shouldReply,\n      intent_primary: intent,\n      needs_human: needsHuman,\n      wants_images: flags.wants_images,\n      wants_catalog: flags.wants_catalog,\n      wants_payment: flags.wants_payment,\n      wants_shipping: flags.wants_shipping,\n      wants_installments: flags.wants_installments,\n      comparison: flags.comparison,\n      brand_interest: brandInterest,\n      budget_hint: /\\b(barato|economico|económico|precio|budget)\\b/.test(text) ? 'budget' : (/(premium|pro|max|ultra)/.test(text) ? 'premium' : 'none'),\n      city_detected: /\\bsalta\\b/.test(text) ? 'salta' : 'none',\n      is_salta: /\\bsalta\\b/.test(text) ? 'true' : 'unknown',\n      flags,\n      raw_text: textRaw\n    }\n  }\n}];\n"},"id":"f821379e-562f-454e-9fb8-435419b08545","name":"Agent 1 - Orchestrator","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,480]},{"parameters":{"jsCode":"// Agent 2 - Catalog & Pricing\n// Strict contract: product matching and pricing blocks (no user-facing IDs).\n\nconst data = $input.first().json;\nconst o = data.agent_orchestrator || {};\nconst products = Array.isArray(data.product_catalog) ? data.product_catalog : [];\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst text = normalize(o.raw_text || data.user_message || '');\nconst tokens = [...new Set(text.split(/\\s+/).filter((w) => w.length >= 3 || /\\d/.test(w)))];\n\nconst scoreProduct = (p) => {\n  const name = normalize(p.product_name);\n  const key = normalize(p.product_key);\n  let score = 0;\n\n  if (text && name.includes(text)) score += 12;\n  if (text && key.includes(text)) score += 10;\n\n  for (const t of tokens) {\n    const weight = /\\d/.test(t) ? 3 : 1;\n    if (name.includes(t)) score += weight;\n    if (key.includes(t)) score += weight;\n  }\n\n  if (o.brand_interest && o.brand_interest !== 'none' && p.brand === o.brand_interest) score += 2;\n  if (p.in_stock === false) score -= 1;\n  return score;\n};\n\nconst matched = products\n  .map((p) => ({ ...p, _score: scoreProduct(p) }))\n  .filter((p) => p._score >= 4)\n  .sort((a, b) => b._score - a._score)\n  .slice(0, 8);\n\nconst formatPriceLine = (p) => {\n  const ars = p.price_ars != null ? '$' + Number(p.price_ars).toLocaleString('es-AR') : 's/d';\n  const usd = p.price_usd != null ? ' (USD ' + Number(p.price_usd) + ')' : '';\n  const specs = [];\n  if (p.ram_gb) specs.push(String(p.ram_gb) + 'GB RAM');\n  if (p.storage_gb) specs.push(String(p.storage_gb) + 'GB');\n  if (p.network) specs.push(String(p.network).toUpperCase());\n  const specsStr = specs.length ? ' (' + specs.join(', ') + ')' : '';\n  let line = p.product_name + specsStr + ' — ' + ars + usd;\n  if (p.promo_price_ars) line += ' | promo $' + Number(p.promo_price_ars).toLocaleString('es-AR') + ' 💥';\n  if (p.in_stock === false) line += ' [SIN STOCK]';\n  return line;\n};\n\nconst byBrand = {\n  IPHONE: products.filter((p) => p.brand === 'IPHONE' && p.in_stock !== false).sort((a, b) => Number(b.price_ars || 0) - Number(a.price_ars || 0)),\n  SAMSUNG: products.filter((p) => p.brand === 'SAMSUNG' && p.in_stock !== false).sort((a, b) => Number(b.price_ars || 0) - Number(a.price_ars || 0)),\n  'REDMI/POCO': products.filter((p) => p.brand === 'REDMI/POCO' && p.in_stock !== false).sort((a, b) => Number(b.price_ars || 0) - Number(a.price_ars || 0))\n};\n\nconst wantsFull = /\\b(todos|todo el catalogo|catalogo completo|lista completa|android y iphone|iphone y android|todo)\\b/.test(text);\n\nlet catalogMode = 'none';\nlet priorityReplyText = '';\nlet suggestedQuestion = null;\n\nif (o.wants_catalog && !wantsFull && o.brand_interest === 'none') {\n  catalogMode = 'ask_brand';\n  priorityReplyText = 'Manejamos iPhone, Samsung y Redmi/POCO. ¿Cuál querés que te muestre primero?';\n} else if (o.wants_catalog && wantsFull) {\n  catalogMode = 'full_split';\n  const block = (label, list) => {\n    const lines = list.slice(0, 8).map(formatPriceLine);\n    return label + ':\\n' + lines.join('\\n');\n  };\n  priorityReplyText = [\n    'Dale, te paso un resumen por marca así queda claro 👇',\n    block('iPhone', byBrand.IPHONE),\n    block('Samsung', byBrand.SAMSUNG),\n    block('Redmi/POCO', byBrand['REDMI/POCO']),\n    'Si querés, después te paso el detalle completo de una marca puntual.'\n  ].join('\\n\\n');\n} else if (matched.length > 0) {\n  catalogMode = 'matched';\n  const lines = matched.slice(0, 4).map(formatPriceLine);\n  priorityReplyText = lines.join('\\n');\n} else if (o.intent_primary === 'comparison' || o.wants_installments || o.wants_images) {\n  catalogMode = 'need_clarification';\n  suggestedQuestion = 'Decime el modelo exacto (por ejemplo A56 8+256 o A56 12+256) y te paso la info precisa.';\n}\n\nreturn [{\n  json: {\n    ...data,\n    agent_catalog: {\n      version: '1.0',\n      catalog_mode: catalogMode,\n      matched_product_keys: matched.map((p) => p.product_key),\n      matched_products: matched.map((p) => ({\n        product_key: p.product_key,\n        product_name: p.product_name,\n        brand: p.brand,\n        price_ars: p.price_ars,\n        promo_price_ars: p.promo_price_ars,\n        price_usd: p.price_usd,\n        in_stock: p.in_stock,\n        image_url: p.image_url\n      })),\n      brand_interest: o.brand_interest || 'none',\n      priority_reply_text: priorityReplyText,\n      suggested_question: suggestedQuestion\n    }\n  }\n}];\n"},"id":"92716270-2617-4380-9cb1-d6780ebc5224","name":"Agent 2 - Catalog Pricing","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,480]},{"parameters":{"jsCode":"// Agent 3 - Policy\n// Strict contract: canonical store policy answers.\n\nconst data = $input.first().json;\nconst o = data.agent_orchestrator || {};\nconst policy = data.store_policies || {};\n\nconst textBlocks = [];\n\nif (o.needs_human) {\n  textBlocks.push('Te ayudo con eso: te derivo con un asesor humano para resolverlo bien.');\n}\n\nif (o.wants_payment || o.wants_installments) {\n  textBlocks.push('💳 Pagos: transferencia en pesos, transferencia en dólares, Bitcoin y USDT (TRC-20) 0% recargo, y efectivo (solo Salta Capital).');\n  textBlocks.push('❌ No hacemos créditos personales.');\n}\n\nif (o.wants_shipping) {\n  textBlocks.push('📦 Envíos GRATIS a sucursal (BusPack/Flecha Carga, OCA o Vía Cargo), sin costo de despacho ni embalaje.');\n  textBlocks.push('🚚 El envío se realiza a partir de las 72 horas hábiles.');\n  textBlocks.push('🔥 En Salta Capital coordinamos entrega presencial en el día. Interior de Salta: 24 hs.');\n}\n\nif (/\\b(bitcoin|btc|usdt|trc)\\b/i.test(String(o.raw_text || ''))) {\n  textBlocks.push('Sí, aceptamos Bitcoin y USDT (TRC-20) con 0% recargo.');\n}\n\nif (/\\b(donde|dónde|direccion|dirección|local|ubicacion|ubicación)\\b/i.test(String(o.raw_text || ''))) {\n  textBlocks.push('📍 ' + (policy.location || 'Caseros 1365, Salta Capital. Diagonal a OCA.'));\n}\n\nconst policyOnly = (o.wants_payment || o.wants_shipping) && !(o.wants_catalog || o.wants_images);\n\nreturn [{\n  json: {\n    ...data,\n    agent_policy: {\n      version: '1.0',\n      policy_only: policyOnly,\n      text_blocks: textBlocks,\n      priority_reply_text: policyOnly ? textBlocks.join('\\n') : ''\n    }\n  }\n}];\n"},"id":"477237ee-4b2a-4cbf-8249-edfd99d3b0c3","name":"Agent 3 - Policy","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,480]},{"parameters":{"jsCode":"// Agent 4 - Media\n// Strict contract: image selection only when requested.\n\nconst data = $input.first().json;\nconst o = data.agent_orchestrator || {};\nconst c = data.agent_catalog || {};\nconst products = Array.isArray(data.product_catalog) ? data.product_catalog : [];\n\nconst imageMessages = [];\nconst textBlocks = [];\nconst productKeysForMetadata = [];\n\nif (o.wants_images) {\n  const matched = Array.isArray(c.matched_products) ? c.matched_products : [];\n\n  let selected = matched.slice(0, 4);\n  if (selected.length === 0) {\n    const interest = String(data.customer_profile?.interested_product || '').toLowerCase();\n    const byInterest = products.find((p) => String(p.product_name || '').toLowerCase().includes(interest) || String(p.product_key || '').toLowerCase().includes(interest));\n    const fallback = products.filter((p) => p.image_url).slice(0, 4);\n    selected = [byInterest, ...fallback].filter(Boolean).slice(0, 4);\n  }\n\n  const missing = [];\n  const already = new Set();\n\n  for (const p of selected) {\n    if (!p || already.has(p.product_key)) continue;\n    already.add(p.product_key);\n    productKeysForMetadata.push(p.product_key);\n\n    if (p.image_url && String(p.image_url).startsWith('http')) {\n      imageMessages.push({ type: 'image', url: p.image_url, image_url: p.image_url });\n    } else {\n      missing.push(p.product_name || p.product_key);\n    }\n  }\n\n  if (selected.length === 0) {\n    const sample = products.filter((p) => p.image_url).slice(0, 4).map((p) => p.product_name);\n    if (sample.length > 0) {\n      textBlocks.push('📸 Tengo fotos de: ' + sample.join(', ') + '. Decime cuál querés y te la mando.');\n    } else {\n      textBlocks.push('⚠️ Por ahora no tengo fotos cargadas para enviarte, pero te paso precio y detalles si querés.');\n    }\n  }\n\n  if (missing.length > 0) {\n    textBlocks.push('⚠️ No tengo fotos de ' + missing.slice(0, 3).join(', ') + ' por el momento.');\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    agent_media: {\n      version: '1.0',\n      wants_images: o.wants_images === true,\n      image_messages: imageMessages,\n      text_blocks: textBlocks,\n      products_for_metadata: [...new Set(productKeysForMetadata)]\n    }\n  }\n}];\n"},"id":"9980571a-06e8-44bd-a0f1-f9553a59def3","name":"Agent 4 - Media","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,480]},{"parameters":{"jsCode":"// Agent 5 - Delivery\n// Strict contract: compose final human text from previous agent contracts.\n\nconst data = $input.first().json;\nconst o = data.agent_orchestrator || {};\nconst c = data.agent_catalog || {};\nconst p = data.agent_policy || {};\nconst m = data.agent_media || {};\n\nconst compact = (s) => String(s || '').replace(/\\s{2,}/g, ' ').trim();\n\nif (o.should_reply === false) {\n  return [{\n    json: {\n      ...data,\n      agent_delivery: {\n        version: '1.0',\n        is_silent: true,\n        reply_text: '',\n        reason: 'empty_non_first_interaction'\n      }\n    }\n  }];\n}\n\nif ((o.raw_text || '').trim() === '' && data.is_first_interaction) {\n  return [{\n    json: {\n      ...data,\n      agent_delivery: {\n        version: '1.0',\n        is_silent: false,\n        reply_text: '😊 ¡Hola ' + (data.first_name || 'amigo') + '! ¿Cómo andás? Bienvenido a TechnoStore Salta 👋\\nContame qué celular estás buscando y te ayudo al toque.'\n      }\n    }\n  }];\n}\n\nconst blocks = [];\n\nif (c.priority_reply_text) blocks.push(c.priority_reply_text);\nif (p.priority_reply_text && !c.priority_reply_text) blocks.push(p.priority_reply_text);\n\nif (!c.priority_reply_text && !p.priority_reply_text) {\n  if (Array.isArray(c.matched_products) && c.matched_products.length > 0) {\n    blocks.push('Te paso opciones que tenemos ahora:');\n    const lines = c.matched_products.slice(0, 3).map((x) => {\n      const ars = x.price_ars != null ? '$' + Number(x.price_ars).toLocaleString('es-AR') : 's/d';\n      const promo = x.promo_price_ars ? ', promo $' + Number(x.promo_price_ars).toLocaleString('es-AR') + ' 💥' : '';\n      return '• ' + x.product_name + ': contado ' + ars + promo;\n    });\n    blocks.push(lines.join('\\n'));\n  } else if (o.intent_primary === 'greeting') {\n    blocks.push('¡Hola ' + (data.first_name || 'amigo') + '! ¿Cómo andás? Decime qué modelo buscás y te paso precio al toque.');\n  } else if (o.intent_primary === 'comparison') {\n    blocks.push(c.suggested_question || 'Decime los dos modelos exactos y te hago la comparación clara de precio, specs y cuál conviene.');\n  } else {\n    blocks.push('Dale, contame el modelo exacto que buscás y te paso precio y stock al toque.');\n  }\n}\n\nif (Array.isArray(p.text_blocks) && p.text_blocks.length > 0 && !p.policy_only) {\n  for (const t of p.text_blocks.slice(0, 3)) {\n    if (!blocks.includes(t)) blocks.push(t);\n  }\n}\n\nif (Array.isArray(m.text_blocks) && m.text_blocks.length > 0) {\n  for (const t of m.text_blocks.slice(0, 2)) {\n    if (!blocks.includes(t)) blocks.push(t);\n  }\n}\n\nlet text = compact(blocks.join('\\n\\n'));\nif (!text) text = 'Disculpá, ¿me repetís la consulta?';\n\nif (!/cualquier cosa escribime/i.test(text)) {\n  text += '\\n\\nCualquier cosa escribime 👋';\n}\n\nreturn [{\n  json: {\n    ...data,\n    agent_delivery: {\n      version: '1.0',\n      is_silent: false,\n      reply_text: text\n    }\n  }\n}];\n"},"id":"6dc1d8d1-779e-40a4-997c-bee375460602","name":"Agent 5 - Delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,480]}],"connections":{"Webhook":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Is Audio?","type":"main","index":0}]]},"Is Audio?":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Merge Input","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Groq Whisper Transcribe","type":"main","index":0}]]},"Groq Whisper Transcribe":{"main":[[{"node":"Merge Input","type":"main","index":0}]]},"Merge Input":{"main":[[{"node":"Save Incoming Message","type":"main","index":0}]]},"Save Incoming Message":{"main":[[{"node":"Wait 8s Debounce","type":"main","index":0}]]},"Wait 8s Debounce":{"main":[[{"node":"Check Is Latest (RPC)","type":"main","index":0}]]},"Check Is Latest (RPC)":{"main":[[{"node":"Debounce Check v14","type":"main","index":0}]]},"Debounce Check v14":{"main":[[{"node":"Is Latest?","type":"main","index":0}]]},"Is Latest?":{"main":[[{"node":"Fetch Recent Messages","type":"main","index":0},{"node":"Ensure Merge Input","type":"main","index":0}]]},"Ensure Merge Input":{"main":[[{"node":"Merge & Aggregate Messages","type":"main","index":0}]]},"Merge & Aggregate Messages":{"main":[[{"node":"Upsert Customer","type":"main","index":0}]]},"Upsert Customer":{"main":[[{"node":"Fetch Customer Profile","type":"main","index":0},{"node":"Prep Incoming Message Customer Link","type":"main","index":0}]]},"Fetch Customer Profile":{"main":[[{"node":"Fetch Conversation History","type":"main","index":0}]]},"Fetch Conversation History":{"main":[[{"node":"Fetch Products","type":"main","index":0}]]},"Fetch Products":{"main":[[{"node":"Build AI Context","type":"main","index":0}]]},"Build AI Context":{"main":[[{"node":"Human Active?","type":"main","index":0}]]},"Human Active?":{"main":[[{"node":"Skip (Human Active)","type":"main","index":0}],[{"node":"Agent 1 - Orchestrator","type":"main","index":0}]]},"Process Response":{"main":[[{"node":"Is Silent?","type":"main","index":0}]]},"Is Silent?":{"main":[[],[{"node":"Send to WhatsApp","type":"main","index":0},{"node":"Prep Bot Message","type":"main","index":0},{"node":"Prep Customer Update","type":"main","index":0},{"node":"Backfill User Intent","type":"main","index":0}]]},"Prep Bot Message":{"main":[[{"node":"Save Bot Message","type":"main","index":0}]]},"Prep Customer Update":{"main":[[{"node":"Update Customer","type":"main","index":0}]]},"Backfill User Intent":{"main":[[{"node":"Update User Intent","type":"main","index":0}]]},"Prep Incoming Message Customer Link":{"main":[[{"node":"Backfill Incoming Message Customer","type":"main","index":0}]]},"Agent 1 - Orchestrator":{"main":[[{"node":"Agent 2 - Catalog Pricing","type":"main","index":0}]]},"Agent 2 - Catalog Pricing":{"main":[[{"node":"Agent 3 - Policy","type":"main","index":0}]]},"Agent 3 - Policy":{"main":[[{"node":"Agent 4 - Media","type":"main","index":0}]]},"Agent 4 - Media":{"main":[[{"node":"Agent 5 - Delivery","type":"main","index":0}]]},"Agent 5 - Delivery":{"main":[[{"node":"Process Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3d938e66-2a23-47ae-8d51-d3988e495ab7","activeVersionId":null,"versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T16:32:52.612Z","createdAt":"2026-03-05T16:32:52.612Z","role":"workflow:owner","workflowId":"lIiIQQnxfZOiOJrGag3Wn","projectId":"SNKJLO5SclWYNvtI","project":{"updatedAt":"2026-02-04T23:06:06.635Z","createdAt":"2026-02-04T23:04:00.450Z","id":"SNKJLO5SclWYNvtI","name":"Francisco Alderete <franalderete7@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"95659c5a-0e8f-419c-8b69-8f7309d9915f"}}]}]