n8n/v19/TechnoStore_v19_catalog_only.json
{
  "name": "TechnoStore - AI Sales Agent v19 (catálogo)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "techno-sales-v19",
        "options": {}
      },
      "id": "521d4ee9-d483-4bc9-a979-32055f6e1110",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        280
      ],
      "webhookId": "techno-sales-v19"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw || {};\n\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\n\nconst getCustomField = (fields, key) => {\n  if (Array.isArray(fields)) {\n    const hit = fields.find((item) => item?.name === key || item?.key === key || item?.field_name === key);\n    return hit?.value ?? '';\n  }\n  if (fields && typeof fields === 'object') {\n    return fields[key] ?? '';\n  }\n  return '';\n};\n\nconst subscriberId = String(body.subscriber_id || body.id || '');\nconst message = String(body.message || body.last_input_text || '').trim();\nconst customFields = body.custom_fields || {};\nconst storefrontOrderMatch = message.match(/pedido\\s+web\\s*#?\\s*(\\d+)[^\\n]*?\\btoken\\b\\s*([a-z0-9_-]{8,64})/i) || message.match(/#(\\d+)[^\\n]*?\\btoken\\b\\s*([a-z0-9_-]{8,64})/i);\nconst storefrontOrderId = storefrontOrderMatch ? Number(storefrontOrderMatch[1]) : null;\nconst storefrontOrderToken = storefrontOrderMatch ? String(storefrontOrderMatch[2] || '').trim().toLowerCase() : '';\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    first_name: body.first_name || 'amigo',\n    last_name: body.last_name || '',\n    phone: body.whatsapp_phone || body.phone || '',\n    timezone: body.timezone || '',\n    channel: 'manychat',\n    city: getCustomField(customFields, 'city'),\n    funnel_stage: getCustomField(customFields, 'funnel_stage'),\n    interested_product: getCustomField(customFields, 'interested_product'),\n    is_human_active: toBool(getCustomField(customFields, 'is_human_active')),\n    raw_message: message,\n    is_audio: message.startsWith('https://') && (message.includes('fbsbx.com') || message.includes('fbcdn.net') || message.includes('manybot-files.s3')),\n    is_empty: !message,\n    storefront_order_id: Number.isFinite(storefrontOrderId) ? storefrontOrderId : null,\n    storefront_order_token: storefrontOrderToken || '',\n  }\n}];"
      },
      "id": "fd8ec96c-ad11-4a2b-afd7-e75f120a3f27",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d344106-acfc-86c5-646a-ed97086d72b5",
              "leftValue": "={{ $json.is_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d688b477-c466-440e-bb01-fc351649763c",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.raw_message }}",
        "options": {
          "response": {
            "responseFormat": "file",
            "outputPropertyName": "data"
          },
          "timeout": 15000
        }
      },
      "id": "7fb68a45-5f3f-4f59-9d53-ecb64501a188",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "dd0a667a-5400-4c7f-b79d-667df4dd0d1f",
      "name": "Groq Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mw4ftZwdAxSdWFjU",
          "name": "Groq Whisper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Input').first().json;\nlet userMessage = String(parsed.raw_message || '');\nlet wasAudio = false;\n\ntry {\n  const whisper = $('Groq Whisper Transcribe').first().json;\n  if (whisper && typeof whisper === 'object' && whisper.text) {\n    userMessage = String(whisper.text).trim();\n    wasAudio = true;\n  }\n} catch (error) {\n  wasAudio = false;\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    user_message: userMessage.trim() || '(vacío)',\n    was_audio: wasAudio,\n  }\n}];"
      },
      "id": "337038f1-8b11-4150-a595-bf45f162e2d1",
      "name": "Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/upsert_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: String($json.subscriber_id || \"\"), p_phone: String($json.phone || \"\"), p_whatsapp_phone: String($json.phone || \"\"), p_first_name: String($json.first_name || \"\"), p_last_name: String($json.last_name || \"\"), p_timezone: String($json.timezone || \"\") }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "983e1a50-3f49-44e7-89a5-f3fa99332b7a",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Merge Input').first().json || {};\nconst raw = $input.first().json;\n\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst candidates = [];\n\nif (Array.isArray(raw)) {\n  candidates.push(...raw);\n}\n\nif (raw && typeof raw === 'object') {\n  candidates.push(raw);\n\n  for (const key of ['body', 'data', 'result']) {\n    const nested = raw[key];\n    if (Array.isArray(nested)) {\n      candidates.push(...nested);\n    } else if (nested && typeof nested === 'object') {\n      candidates.push(nested);\n    }\n  }\n}\n\nlet customerId = null;\n\nfor (const candidate of candidates) {\n  if (!candidate || typeof candidate !== 'object') continue;\n  customerId = pickId(candidate.upsert_customer ?? candidate.customer_id ?? candidate.id);\n  if (customerId != null) break;\n}\n\nreturn [{\n  json: {\n    ...base,\n    customer_id: customerId,\n  }\n}];"
      },
      "id": "4d490c24-522e-4848-bae1-9fa05620c283",
      "name": "Attach Customer Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ manychat_id: String($json.subscriber_id), customer_id: Number($json.customer_id) > 0 ? Number($json.customer_id) : null, role: \"user\", message: $json.user_message || \"(vacío)\", message_type: $json.was_audio ? \"audio\" : \"text\", was_audio: $json.was_audio || false, audio_transcription: $json.was_audio ? $json.user_message : null, intent_detected: null, products_mentioned: [], triggered_human: false, channel: \"manychat\", external_message_id: null, whatsapp_phone_number_id: null }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "fa168177-c7b3-4b40-ae08-245669b099d8",
      "name": "Save Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Attach Customer Id').first().json || {};\nconst raw = $input.first().json;\n\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\nconst pickBool = (value) => value === true || value === 'true';\n\nconst candidates = [];\n\nif (Array.isArray(raw)) {\n  candidates.push(...raw);\n}\n\nif (raw && typeof raw === 'object') {\n  candidates.push(raw);\n\n  for (const key of ['body', 'data', 'result']) {\n    const nested = raw[key];\n    if (Array.isArray(nested)) {\n      candidates.push(...nested);\n    } else if (nested && typeof nested === 'object') {\n      candidates.push(nested);\n    }\n  }\n}\n\nlet savedMessageId = null;\nlet savedMessageDuplicate = false;\n\nfor (const candidate of candidates) {\n  if (!candidate || typeof candidate !== 'object') continue;\n  savedMessageId = pickId(candidate.id ?? candidate.message_id ?? candidate.saved_message_id);\n  savedMessageDuplicate = pickBool(candidate.duplicate);\n  if (savedMessageId != null) break;\n}\n\nreturn [{\n  json: {\n    ...base,\n    saved_message_id: savedMessageId,\n    saved_message_duplicate: savedMessageDuplicate,\n  }\n}];"
      },
      "id": "9e15a047-efd2-4155-99a5-c06327fe8862",
      "name": "Attach Saved Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nawait new Promise((resolve) => setTimeout(resolve, 8000));\nreturn [{ json: item }];"
      },
      "id": "2b5181b3-b707-4f74-a435-ab9f04225f58",
      "name": "Wait 8s Debounce",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/check_is_latest_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_message_id: $json.saved_message_id || 0 }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "d15c8800-9c5b-4b12-9414-63dce546ac92",
      "name": "Check Is Latest (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Wait 8s Debounce').first().json || {};\nconst rpcResult = $input.first().json;\n\nconst pickBool = (value) => value === true || value === 'true';\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst candidates = [];\nconst visit = (value) => {\n  if (value == null) return;\n\n  if (typeof value === 'string') {\n    try {\n      visit(JSON.parse(value));\n    } catch (error) {}\n    return;\n  }\n\n  if (typeof value === 'boolean') {\n    candidates.push(value);\n    return;\n  }\n\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      visit(item);\n    }\n    return;\n  }\n\n  if (typeof value === 'object') {\n    candidates.push(value);\n    for (const key of ['body', 'data', 'result']) {\n      visit(value[key]);\n    }\n  }\n};\n\nvisit(rpcResult);\n\nlet isLatest = null;\nlet latestMessageId = null;\nlet checkedMessageId = pickId(base.saved_message_id);\n\nfor (const candidate of candidates) {\n  if (typeof candidate === 'boolean') {\n    isLatest = candidate;\n    break;\n  }\n\n  if (!candidate || typeof candidate !== 'object') continue;\n\n  if (latestMessageId == null) {\n    latestMessageId = pickId(candidate.latest_message_id ?? candidate.latestMessageId);\n  }\n\n  if (checkedMessageId == null) {\n    checkedMessageId = pickId(candidate.checked_message_id ?? candidate.checkedMessageId ?? candidate.message_id);\n  }\n\n  if (candidate.check_is_latest_message !== undefined) {\n    isLatest = pickBool(candidate.check_is_latest_message);\n    break;\n  }\n\n  if (candidate.result !== undefined && typeof candidate.result !== 'object') {\n    isLatest = pickBool(candidate.result);\n    break;\n  }\n}\n\nif (isLatest == null && latestMessageId != null && checkedMessageId != null) {\n  isLatest = latestMessageId === checkedMessageId;\n}\n\nconst isDuplicateSavedMessage = base.saved_message_duplicate === true;\nconst debounceReason =\n  base.saved_message_id == null\n    ? 'missing_saved_message_id'\n    : isDuplicateSavedMessage\n      ? 'duplicate_saved_message'\n      : base.is_empty\n        ? 'empty_message'\n        : isLatest == null\n          ? 'rpc_shape_unknown'\n          : isLatest === true\n            ? 'latest'\n            : 'not_latest';\n\nreturn [{\n  json: {\n    ...base,\n    should_continue: base.saved_message_id != null && isLatest === true && !base.is_empty && !isDuplicateSavedMessage,\n    debounce_reason: debounceReason,\n    rpc_is_latest: isLatest,\n    rpc_latest_message_id: latestMessageId,\n    rpc_checked_message_id: checkedMessageId,\n  }\n}];"
      },
      "id": "ce5802cc-90d4-47bc-ad51-c60d2917cb47",
      "name": "Debounce Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b067d32a-122a-932e-d98b-a8f2f5ca5ec0",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ecda98c-07d0-4298-9c0a-45dc7eda83bc",
      "name": "Is Latest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/v17_build_turn_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_user_message: $json.user_message, p_recent_limit: 10, p_candidate_limit: 5000, p_brand_fetch_limit: 5000, p_full_catalog: true, p_v19_catalog_all: true, p_full_catalog_max: 5000, p_storefront_order_id: $json.storefront_order_id || null, p_storefront_order_token: $json.storefront_order_token || null }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "7e4e9838-cb8d-4ecb-be06-95653772c077",
      "name": "Fetch Full Catalog Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        280
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Debounce Check').first().json || {};\nconst raw = $input.first().json || {};\nconst context = raw.v17_build_turn_context || raw || {};\nif (!context.store || typeof context.store !== 'object') {\n  context.store = {};\n}\nreturn [{\n  json: {\n    ...base,\n    context,\n  }\n}];"
      },
      "id": "b1e4a2b6-6acb-4042-8a37-5b7e906edb22",
      "name": "Normalize Catalog Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3460,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json || {};\nconst ctx = row.context || {};\nconst cust = ctx.customer || {};\nconst lastIntent = cust.last_intent != null ? String(cust.last_intent) : '';\nconst msg = String(row.user_message || '').trim();\nconst refresh = /\\b(cat[aá]logo|lista\\s+completa|precios\\s+de\\s+todo|mostr[aá]me\\s+todo|mand[aá]me\\s+(el\\s+)?cat|env[ií]ame\\s+el\\s+cat)/i.test(msg);\nconst chatIntents = new Set(['catalog_list', 'v19_chat']);\nconst v19_use_catalog = refresh || !chatIntents.has(lastIntent);\nreturn [{ json: { ...row, v19_use_catalog } }];"
      },
      "id": "c587ef1f-65c4-4cc7-bff1-c86b5ad898b4",
      "name": "Decide v19 Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d41c839-a8ea-4e68-9593-93b8736a9ae8",
              "leftValue": "={{ $json.v19_use_catalog }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d9dae9e3-df63-4d17-97c5-88c5634219bd",
      "name": "Catalog or Chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json || {};\nconst ctx = row.context || {};\nconst products = Array.isArray(ctx.candidate_products) ? ctx.candidate_products : [];\nconst fmt = (v) => {\n  const n = Number(v);\n  if (!Number.isFinite(n) || n <= 0) return null;\n  return new Intl.NumberFormat('es-AR', { maximumFractionDigits: 0 }).format(n);\n};\nconst line = (p) => {\n  const name = String(p.product_name || p.title || p.model || p.product_key || 'Producto').trim();\n  const price = p.promo_price_ars ?? p.price_ars;\n  const n = p.cuotas_qty != null && Number(p.cuotas_qty) > 0 ? Math.round(Number(p.cuotas_qty)) : null;\n  const bCuota = fmt(p.bancarizada_cuota);\n  const bTot = fmt(p.bancarizada_total);\n  const mCuota = fmt(p.macro_cuota);\n  const mTot = fmt(p.macro_total);\n  const banc = !bCuota\n    ? '—'\n    : (n ? `${bCuota} × ${n}` : String(bCuota)) + (bTot ? ` · total ${bTot}` : '');\n  const macro = !mCuota\n    ? '—'\n    : (n ? `${mCuota} × ${n}` : String(mCuota)) + (mTot ? ` · total ${mTot}` : '');\n  const c = fmt(price);\n  const contado = c ? `ARS ${c}` : '—';\n  return `🔥 ${name} | ${contado} | ${banc} | ${macro}`;\n};\nconst brandOrder = (bk) => {\n  const k = String(bk || '').trim().toLowerCase();\n  if (k === 'samsung') return 0;\n  if (k === 'xiaomi') return 1;\n  if (k === 'apple' || k === 'iphone') return 2;\n  return 3;\n};\nconst sortedProducts = [...products].sort((a, b) => {\n  const d = brandOrder(a.brand_key) - brandOrder(b.brand_key);\n  if (d !== 0) return d;\n  const na = String(a.product_name || a.title || a.model || '');\n  const nb = String(b.product_name || b.title || b.model || '');\n  return na.localeCompare(nb, 'es', { sensitivity: 'base' });\n});\nconst colLegend = 'Nombre | Contado | Bancarizadas | Macro';\nconst header = `🚢 TechnoStore · catálogo completo (${sortedProducts.length} ítems) 🔥\\n${colLegend}`;\nconst lineStrings = sortedProducts.length ? sortedProducts.map(line) : ['(Sin productos activos por ahora.)'];\nconst MANYCHAT_TEXT_LIMIT = 1900;\nconst prefixFirst = `${header}\\n\\n`;\nconst worstContinuationPrefix = `🚢 Parte 99/99\\n${colLegend}\\n\\n`;\nconst blocks = [];\nlet curLines = [];\nfor (const ln of lineStrings) {\n  const nextLines = curLines.length > 0 ? [...curLines, ln] : [ln];\n  const blockStr = nextLines.join('\\n');\n  const prefixLen = blocks.length === 0 ? prefixFirst.length : worstContinuationPrefix.length;\n  if (blockStr.length + prefixLen > MANYCHAT_TEXT_LIMIT && curLines.length > 0) {\n    blocks.push(curLines.join('\\n'));\n    curLines = [ln];\n  } else {\n    curLines = nextLines;\n  }\n}\nif (curLines.length > 0) blocks.push(curLines.join('\\n'));\nconst totalParts = blocks.length;\nlet wa_messages = blocks.map((block, i) => ({\n  type: 'text',\n  text:\n    i === 0\n      ? `${header}\\n\\n${block}`\n      : `🚢 Parte ${i + 1}/${totalParts}\\n${colLegend}\\n\\n${block}`,\n}));\nconst closing = '\\n\\n¿Qué modelo en particular te interesa?';\nif (wa_messages.length > 0) {\n  const li = wa_messages.length - 1;\n  const t = wa_messages[li].text;\n  if (t.length + closing.length <= MANYCHAT_TEXT_LIMIT) {\n    wa_messages[li] = { type: 'text', text: t + closing };\n  } else {\n    wa_messages.push({ type: 'text', text: '¿Qué modelo en particular te interesa?' });\n  }\n}\nlet botMessageText = wa_messages.map((m) => m.text).join('\\n\\n────────\\n\\n');\nconst router_output = {\n  route_key: 'catalog_broadcast',\n  confidence: 1,\n  matched_product_keys: [],\n  matched_brand: null,\n  detected_city: null,\n  detected_budget_range: null,\n  detected_payment_method: null,\n  rationale: 'v19 catálogo completo',\n};\nconst responder_output = {\n  selected_product_keys: [],\n  actions: [],\n  state_delta: { intent_key: 'catalog_list', funnel_stage: 'browsing', lead_score_delta: 1 },\n  reply_text: botMessageText,\n  raw_text: botMessageText,\n};\nconst validator_output = {\n  approved: true,\n  reply_messages: wa_messages,\n  selected_product_keys: [],\n  actions: [],\n  final_state_delta: {\n    intent_key: 'catalog_list',\n    funnel_stage: 'browsing',\n    lead_score_delta: 1,\n    selected_product_keys: [],\n    share_store_location: false,\n    tags_to_add: [],\n    tags_to_remove: [],\n    summary: 'Catálogo v19',\n  },\n  validation_errors: [],\n  validation_warnings: [],\n  fallback_reason: null,\n};\nreturn [{\n  json: {\n    ...row,\n    context: ctx,\n    router_output,\n    responder_output,\n    validator_output,\n    should_send: true,\n    bot_message_text: botMessageText,\n    wa_messages,\n    responder_provider_name: 'deterministic',\n    responder_model_name: 'v19-catalog-list',\n  },\n}];"
      },
      "id": "77434214-35ad-4896-8290-4f321c971f76",
      "name": "Build Catalog Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json || {};\nconst ctx = row.context || {};\nconst store = ctx.store || {};\nconst storeBits = [\n  store.name ? `Nombre: ${store.name}` : '',\n  store.store_address || store.address ? `Dirección: ${store.store_address || store.address}` : '',\n  store.store_phone || store.phone ? `Tel: ${store.store_phone || store.phone}` : '',\n  store.store_hours || store.hours ? `Horarios: ${store.store_hours || store.hours}` : '',\n  store.store_website_url ? `Web: ${store.store_website_url}` : '',\n].filter(Boolean);\nconst storeBlock = storeBits.length ? storeBits.join('\\n') : '(Sin datos de tienda en contexto; decí que no tenés el dato exacto y ofrecé pasar con un humano.)';\nconst recent = Array.isArray(ctx.recent_messages) ? ctx.recent_messages.slice(-6) : [];\nconst history = recent\n  .map((m) => {\n    const role = m.role === 'bot' ? 'Asistente' : 'Cliente';\n    let txt = String(m.message || '').trim();\n    if (!txt) return '';\n    if (m.role === 'bot' && (txt.includes('catálogo completo') || txt.includes('TechnoStore · catálogo') || txt.includes('Parte 2/'))) {\n      txt = '[Ya te enviamos el catálogo completo por acá]';\n    } else if (txt.length > 900) {\n      txt = txt.slice(0, 700) + '…';\n    }\n    return `${role}: ${txt}`;\n  })\n  .filter(Boolean)\n  .join('\\n');\nconst firstName = String(row.first_name || 'ahí').trim() || 'ahí';\nconst agent_system_message = [\n  'Sos el asistente virtual de TechnoStore en WhatsApp. La tienda vende celulares, accesorios y tecnología.',\n  '',\n  '## Cómo comunicarte',\n  '- Español rioplatense, natural y simple, como una persona del equipo (no robótico).',\n  '- Mensajes cortos por defecto; si piden detalle técnico o comparación, podés extender un poco.',\n  '- No uses markdown pesado ni listas enormes; si comparan modelos, máximo 3–4 bullets o párrafos cortos.',\n  '',\n  '## Qué podés responder bien',\n  '- Especificaciones y uso típico de celulares (pantalla, cámara, batería, rendimiento, ecosistema): usá conocimiento general del mercado.',\n  '- Si hay duda (variantes de modelo, cambios de ficha técnica), decilo honestamente; no inventes números ni fechas.',\n  '- Preguntas sobre el local: SOLO usá datos del bloque TIENDA más abajo. Si algo no figura ahí, decí que no tenés el dato y ofrecé que un humano lo confirme o que pasen por el local.',\n  '',\n  '## Qué no podés inventar',\n  '- Precio al contado, cuotas, promociones, stock, reservas, garantías, envíos o “lo último que sale”: no afirmes nada concreto.',\n  '- Decí que los valores y disponibilidad los acaban de ver en el catálogo que enviamos por este chat y que para cerrar o casos puntuales conviene hablar con la tienda o un asesor humano.',\n  '',\n  '## Contexto',\n  '- No digas que buscaste en internet en tiempo real ni que tenés acceso a la web.',\n  '- Si el mensaje es off-topic, respondé muy breve y redirigí amablemente a celulares o a la tienda.',\n  '',\n  `## Trato al cliente\\nUsá un tono amable; podés tratar de “vos”. Nombre de referencia: ${firstName}.`,\n  '',\n  '## TIENDA (única fuente de hechos sobre el local)',\n  storeBlock,\n].join('\\n');\nconst userLine = String(row.user_message || '').trim().slice(0, 2000) || '(sin texto)';\nconst agent_user_prompt = [\n  history ? `## Historial reciente (resumen del chat)\\n${history}` : '',\n  `## Mensaje actual del cliente\\n${userLine}`,\n].filter(Boolean).join('\\n\\n');\nreturn [{ json: { ...row, agent_system_message, agent_user_prompt, groq_model: \"qwen/qwen3-32b\" } }];"
      },
      "id": "463ad6bc-ae9c-41c8-b477-0c2fe79fa57c",
      "name": "Build Groq Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        420
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {
          "maxTokensToSample": 900,
          "temperature": 0.45
        }
      },
      "id": "4f5d9630-1f5b-4c83-b4a7-88fb0f4f2b37",
      "name": "Groq Chat Model (TechnoStore)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4200,
        560
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_GROQ_API_CREDENTIAL",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_user_prompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "={{ $json.agent_system_message }}",
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "enableStreaming": false,
          "passthroughBinaryImages": false
        }
      },
      "id": "59a5e563-6ef4-454a-9481-36a766d5febd",
      "name": "TechnoStore Assistant (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4200,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst row = $('Build Groq Chat Request').first().json || {};\nconst ctx = row.context || {};\nconst text = String(\n  raw.output ??\n    raw.text ??\n    (raw.json && typeof raw.json === 'object' ? raw.json.output : '') ??\n    raw.choices?.[0]?.message?.content ??\n    '',\n).trim() || 'Perdón, ahora no pude responder. ¿Podés repetir en una frase qué necesitás?';\nconst chunkManyChat = (t, limit) => {\n  const s = String(t || '').trim();\n  if (!s) return [];\n  const out = [];\n  let rest = s;\n  while (rest.length > limit) {\n    let cut = rest.lastIndexOf('\\n\\n', limit);\n    if (cut < limit * 0.4) cut = rest.lastIndexOf('. ', limit);\n    if (cut < limit * 0.4) cut = limit;\n    out.push(rest.slice(0, cut).trim());\n    rest = rest.slice(cut).trim();\n  }\n  if (rest) out.push(rest);\n  return out;\n};\nconst parts = chunkManyChat(text, 1800);\nconst wa_messages = parts.map((p) => ({ type: 'text', text: p }));\nconst botMessageText = wa_messages.map((m) => m.text).join('\\n\\n────────\\n\\n');\nconst model = String(raw.model || row.groq_model || 'qwen/qwen3-32b').trim();\nconst router_output = {\n  route_key: 'v19_groq_chat',\n  confidence: 1,\n  matched_product_keys: [],\n  matched_brand: null,\n  detected_city: null,\n  detected_budget_range: null,\n  detected_payment_method: null,\n  rationale: 'v19 AI Agent (Groq)',\n};\nconst responder_output = {\n  selected_product_keys: [],\n  actions: [],\n  state_delta: { intent_key: 'v19_chat', funnel_stage: 'engaged', lead_score_delta: 1 },\n  reply_text: botMessageText,\n  raw_text: botMessageText,\n};\nconst validator_output = {\n  approved: true,\n  reply_messages: wa_messages,\n  selected_product_keys: [],\n  actions: [],\n  final_state_delta: {\n    intent_key: 'v19_chat',\n    funnel_stage: 'engaged',\n    lead_score_delta: 1,\n    selected_product_keys: [],\n    share_store_location: false,\n    tags_to_add: [],\n    tags_to_remove: [],\n    summary: 'Chat v19',\n  },\n  validation_errors: [],\n  validation_warnings: [],\n  fallback_reason: null,\n};\nreturn [{\n  json: {\n    ...row,\n    context: ctx,\n    router_output,\n    responder_output,\n    validator_output,\n    should_send: true,\n    bot_message_text: botMessageText,\n    wa_messages,\n    responder_provider_name: 'groq',\n    responder_model_name: model,\n  },\n}];"
      },
      "id": "46a2466f-17bf-46fe-b00f-2d4d0168ceba",
      "name": "Build Groq Assistant Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/claim_reply_send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_message_id: $json.saved_message_id || 0 }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "9fda3b96-0eae-4c57-a14c-4d7a4b1dfca1",
      "name": "Claim Reply Send (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d55c4bc1-b2e1-4b90-8355-65f95b094386",
              "leftValue": "={{ $json.claim_reply_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2fe50140-0550-47ae-9ca3-07bd354cff6b",
      "name": "Reply Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4960,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const catalog = $('Build Catalog Reply').all();\nconst groq = $('Build Groq Assistant Reply').all();\nconst data = catalog.length ? catalog[0].json : groq[0].json;\nconst messages = Array.isArray(data.wa_messages)\n  ? data.wa_messages\n  : [{ type: 'text', text: data.bot_message_text || '' }];\nconst wa = [];\nfor (const m of messages) {\n  if (m.type === 'image' && (m.image_url || m.url)) {\n    const url = m.image_url || m.url;\n    wa.push({ type: 'image', url, image_url: url });\n    continue;\n  }\n  const t = String(m.text || '').trim();\n  if (t) wa.push({ type: 'text', text: t });\n}\nreturn [{\n  json: {\n    ...data,\n    payload: {\n      subscriber_id: data.subscriber_id,\n      data: {\n        version: 'v2',\n        content: {\n          type: 'whatsapp',\n          messages: wa,\n        },\n      },\n    },\n  }\n}];"
      },
      "id": "c9e6152e-213c-45a9-a3e6-500a6b154995",
      "name": "Prepare WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5240,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1e34fca-e09f-4ee2-979d-941d8642f37f",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5520,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dTDdJWgAz1yrPfPe",
          "name": "ManyChat API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare WhatsApp Payload').first().json || {};\nconst sendResponse = $input.first().json || {};\nreturn [{\n  json: {\n    ...data,\n    send_result: {\n      attempted: true,\n      response: sendResponse,\n      sent_at: new Date().toISOString(),\n    },\n  }\n}];"
      },
      "id": "8a472627-7bdd-4bc6-a4c4-0900e621defd",
      "name": "Build Sent State Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const catalog = $('Build Catalog Reply').all();\nconst groq = $('Build Groq Assistant Reply').all();\nconst data = catalog.length ? catalog[0].json : groq[0].json;\nreturn [{\n  json: {\n    ...data,\n    should_send: false,\n    send_result: {\n      attempted: false,\n      skipped: true,\n      reason: 'reply_send_not_claimed',\n      sent_at: new Date().toISOString(),\n    },\n  }\n}];"
      },
      "id": "eea28449-cc88-4493-aa6d-d22cebdb58bf",
      "name": "Build Skipped State Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5240,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst parseJsonish = (value) => {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n  try {\n    return JSON.parse(trimmed);\n  } catch (error) {\n    return value;\n  }\n};\nconst asRecord = (value) => {\n  const parsed = parseJsonish(value);\n  return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n};\nconst asArray = (value) => {\n  const parsed = parseJsonish(value);\n  return Array.isArray(parsed) ? parsed : [];\n};\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\nconst extractReplyText = (messages) =>\n  asArray(messages)\n    .map((message) => {\n      if (!message || typeof message !== 'object') return '';\n      return String(message.text ?? message.reply_text ?? '').trim();\n    })\n    .filter(Boolean)\n    .join('\\n\\n')\n    .trim();\n\nconst context = asRecord(data.context);\nconst router = asRecord(data.router_output);\nconst responder = asRecord(data.responder_output);\nconst validator = asRecord(data.validator_output);\nconst state = asRecord(validator.final_state_delta);\n\nconst now = new Date().toISOString();\nconst currentTags = Array.isArray(context.customer?.tags) ? context.customer.tags : [];\nconst unique = (values) => [...new Set(values.filter(Boolean))];\nconst mergedTags = unique([\n  ...currentTags,\n  ...(Array.isArray(state.tags_to_add) ? state.tags_to_add : []),\n]).filter((tag) => !(Array.isArray(state.tags_to_remove) ? state.tags_to_remove : []).includes(tag));\n\nconst currentLeadScore = Number(context.customer?.lead_score || 0);\nconst nextLeadScore = Math.max(0, Math.min(100, currentLeadScore + Number(state.lead_score_delta || 0)));\nconst selectedProductKeys = Array.isArray(validator.selected_product_keys) ? validator.selected_product_keys : [];\n\nconst updates = {\n  last_bot_interaction: now,\n  updated_at: now,\n  last_intent: state.intent_key || null,\n  funnel_stage: state.funnel_stage || null,\n  lead_score: nextLeadScore,\n  tags: mergedTags,\n};\n\nif (selectedProductKeys[0]) {\n  updates.interested_product = selectedProductKeys[0];\n}\n\nif (state.payment_method_key) {\n  updates.payment_method_last = state.payment_method_key;\n}\n\nconst brandList = unique(selectedProductKeys\n  .map((key) => {\n    const product = (Array.isArray(context.candidate_products) ? context.candidate_products : []).find((item) => item.product_key === key);\n    return product?.brand_key || null;\n  })\n  .filter(Boolean));\n\nif (brandList.length > 0) {\n  const currentBrands = Array.isArray(context.customer?.brands_mentioned) ? context.customer.brands_mentioned : [];\n  updates.brands_mentioned = unique([...brandList, ...currentBrands]).slice(0, 10);\n}\n\nconst conversationSummary = String(state.summary || router.rationale || 'Turno procesado').slice(0, 220);\nconst conversationInsights = unique([\n  'Ruta ' + String(router.route_key || 'unknown'),\n  ...selectedProductKeys.slice(0, 3).map((key) => 'Producto ' + key),\n]).slice(0, 8);\n\nconst shouldPersistBotMessage = toBool(data.should_send);\nconst sendResult = asRecord(data.send_result);\nconst botMessageText = String(\n  data.bot_message_text ||\n    extractReplyText(data.wa_messages) ||\n    extractReplyText(validator.reply_messages) ||\n    responder.reply_text ||\n    ''\n).trim();\n\nconst botMessageRow = shouldPersistBotMessage\n  ? {\n      manychat_id: data.subscriber_id,\n      customer_id: context.customer?.customer_id || null,\n      role: 'bot',\n      message: botMessageText,\n      message_type: 'text',\n      intent_detected: state.intent_key || null,\n      products_mentioned: selectedProductKeys,\n      triggered_human: false,\n      was_audio: false,\n      channel: 'manychat',\n      external_message_id: null,\n      whatsapp_phone_number_id: null,\n      applied_tags: Array.isArray(state.tags_to_add) ? state.tags_to_add : [],\n      payment_methods_detected: state.payment_method_key ? [state.payment_method_key] : [],\n      brands_detected: brandList,\n      topics_detected: [String(router.route_key || 'generic_sales')],\n      funnel_stage_after: state.funnel_stage || null,\n      conversation_summary: conversationSummary,\n      conversation_insights: conversationInsights,\n      lead_score_after: nextLeadScore,\n      workflow_version: 'v19',\n      route_key: router.route_key || 'generic_sales',\n      send_result: sendResult,\n    }\n  : {\n      skip_save: true,\n      reason: 'reply_not_sent',\n      manychat_id: data.subscriber_id,\n      workflow_version: 'v19',\n    };\n\nconst turnRow = {\n  workflow_version: 'v19',\n  provider_name: data.responder_provider_name || 'deterministic',\n  model_name: data.responder_model_name || 'deterministic',\n  manychat_id: data.subscriber_id,\n  customer_id: context.customer?.customer_id || null,\n  route_key: router.route_key || 'generic_sales',\n  user_message: data.user_message || '',\n  context_payload: context,\n  router_payload: router,\n  responder_payload: data.responder_output || {},\n  validator_payload: validator,\n  state_delta: state,\n  selected_product_keys: selectedProductKeys,\n  validation_errors: Array.isArray(validator.validation_errors) ? validator.validation_errors.map((item) => item.code || item.message).filter(Boolean) : [],\n  success: toBool(data.should_send) !== false,\n  failure_reason: null,\n  send_result: sendResult,\n};\n\nreturn [{\n  json: {\n    ...data,\n    customer_updates: updates,\n    bot_message_row: botMessageRow,\n    ai_turn_row: turnRow,\n  }\n}];"
      },
      "id": "a89c182a-13ce-4b0d-8eea-211ce2955ebc",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6080,
        280
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/customers?manychat_id=eq.{{ $(\"Build Update Payload\").first().json.subscriber_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Update Payload\").first().json.customer_updates) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "5db726ac-bab2-4dd8-b67d-03bd13497295",
      "name": "Update Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "2c9ef413-5292-4060-b45a-e12df6a2915c",
      "name": "Should Save Bot Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3d7fe56-c89e-4d5b-a069-efbe1f5bc3e8",
              "leftValue": "={{ $(\"Build Update Payload\").first().json.bot_message_row && $(\"Build Update Payload\").first().json.bot_message_row.skip_save !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Update Payload\").first().json.bot_message_row || {}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "3e790976-52a4-4932-a7ca-7eee63c84b3c",
      "name": "Save Bot Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/ai_workflow_turns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Update Payload\").first().json.ai_turn_row) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6e336296-1b9e-4111-8342-59de5d124fc3",
      "name": "Log AI Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        480
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Update Payload').first().json || {};\n\nreturn [{\n  json: {\n    ...base,\n    state_update_status: 'ok',\n  }\n}];"
      },
      "id": "51c6be0b-c1f9-4fef-a868-ea15833bb2e3",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Groq Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Attach Customer Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Customer Id": {
      "main": [
        [
          {
            "node": "Save Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Message": {
      "main": [
        [
          {
            "node": "Attach Saved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Saved Message": {
      "main": [
        [
          {
            "node": "Wait 8s Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s Debounce": {
      "main": [
        [
          {
            "node": "Check Is Latest (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Latest (RPC)": {
      "main": [
        [
          {
            "node": "Debounce Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce Check": {
      "main": [
        [
          {
            "node": "Is Latest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Latest?": {
      "main": [
        [
          {
            "node": "Fetch Full Catalog Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Full Catalog Context": {
      "main": [
        [
          {
            "node": "Normalize Catalog Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Catalog Context": {
      "main": [
        [
          {
            "node": "Decide v19 Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide v19 Path": {
      "main": [
        [
          {
            "node": "Catalog or Chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catalog or Chat?": {
      "main": [
        [
          {
            "node": "Build Catalog Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Groq Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Catalog Reply": {
      "main": [
        [
          {
            "node": "Claim Reply Send (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Chat Request": {
      "main": [
        [
          {
            "node": "TechnoStore Assistant (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model (TechnoStore)": {
      "ai_languageModel": [
        [
          {
            "node": "TechnoStore Assistant (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TechnoStore Assistant (AI Agent)": {
      "main": [
        [
          {
            "node": "Build Groq Assistant Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Assistant Reply": {
      "main": [
        [
          {
            "node": "Claim Reply Send (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Reply Send (RPC)": {
      "main": [
        [
          {
            "node": "Reply Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Claimed?": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skipped State Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to WhatsApp": {
      "main": [
        [
          {
            "node": "Build Sent State Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sent State Input": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skipped State Input": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Payload": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Customer": {
      "main": [
        [
          {
            "node": "Should Save Bot Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Save Bot Message?": {
      "main": [
        [
          {
            "node": "Save Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log AI Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bot Message": {
      "main": [
        [
          {
            "node": "Log AI Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Turn": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
