n8n/v20/TechnoStore_v20.json
{
  "name": "TechnoStore - AI Sales Agent v20 (minimal)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "techno-sales-v20",
        "options": {}
      },
      "id": "6e78c53c-1c2f-466a-9f08-5db821b7b730",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        280
      ],
      "webhookId": "techno-sales-v20"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw || {};\n\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\n\nconst getCustomField = (fields, key) => {\n  if (Array.isArray(fields)) {\n    const hit = fields.find((item) => item?.name === key || item?.key === key || item?.field_name === key);\n    return hit?.value ?? '';\n  }\n  if (fields && typeof fields === 'object') {\n    return fields[key] ?? '';\n  }\n  return '';\n};\n\nconst subscriberId = String(body.subscriber_id || body.id || '');\nconst message = String(body.message || body.last_input_text || '').trim();\nconst customFields = body.custom_fields || {};\nconst storefrontOrderMatch = message.match(/pedido\\s+web\\s*#?\\s*(\\d+)[^\\n]*?\\btoken\\b\\s*([a-z0-9_-]{8,64})/i) || message.match(/#(\\d+)[^\\n]*?\\btoken\\b\\s*([a-z0-9_-]{8,64})/i);\nconst storefrontOrderId = storefrontOrderMatch ? Number(storefrontOrderMatch[1]) : null;\nconst storefrontOrderToken = storefrontOrderMatch ? String(storefrontOrderMatch[2] || '').trim().toLowerCase() : '';\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    first_name: body.first_name || 'amigo',\n    last_name: body.last_name || '',\n    phone: body.whatsapp_phone || body.phone || '',\n    timezone: body.timezone || '',\n    channel: 'manychat',\n    city: getCustomField(customFields, 'city'),\n    funnel_stage: getCustomField(customFields, 'funnel_stage'),\n    interested_product: getCustomField(customFields, 'interested_product'),\n    is_human_active: toBool(getCustomField(customFields, 'is_human_active')),\n    raw_message: message,\n    is_audio: message.startsWith('https://') && (message.includes('fbsbx.com') || message.includes('fbcdn.net') || message.includes('manybot-files.s3')),\n    is_empty: !message,\n    storefront_order_id: Number.isFinite(storefrontOrderId) ? storefrontOrderId : null,\n    storefront_order_token: storefrontOrderToken || '',\n  }\n}];"
      },
      "id": "f211365f-bfdd-4ea6-8fdc-530732a677db",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d344106-acfc-86c5-646a-ed97086d72b5",
              "leftValue": "={{ $json.is_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d1bc731-f2f4-42ab-b7b6-bd07dc9760a5",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.raw_message }}",
        "options": {
          "response": {
            "responseFormat": "file",
            "outputPropertyName": "data"
          },
          "timeout": 15000
        }
      },
      "id": "7d9720bf-fff6-448f-b89f-d7b8c5e3b784",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "6340fa7b-3259-47b8-8e30-313c7ae5a67f",
      "name": "Groq Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mw4ftZwdAxSdWFjU",
          "name": "Groq Whisper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Input').first().json;\nlet userMessage = String(parsed.raw_message || '');\nlet wasAudio = false;\n\ntry {\n  const whisper = $('Groq Whisper Transcribe').first().json;\n  if (whisper && typeof whisper === 'object' && whisper.text) {\n    userMessage = String(whisper.text).trim();\n    wasAudio = true;\n  }\n} catch (error) {\n  wasAudio = false;\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    user_message: userMessage.trim() || '(vacío)',\n    was_audio: wasAudio,\n  }\n}];"
      },
      "id": "923e8650-3c8b-4371-86d2-3b42c00f6fff",
      "name": "Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/upsert_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: String($json.subscriber_id || \"\"), p_phone: String($json.phone || \"\"), p_whatsapp_phone: String($json.phone || \"\"), p_first_name: String($json.first_name || \"\"), p_last_name: String($json.last_name || \"\"), p_timezone: String($json.timezone || \"\") }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6aa7d0ab-bce8-49a7-88e0-e09f1401c1ef",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Merge Input').first().json || {};\nconst raw = $input.first().json;\n\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst candidates = [];\n\nif (Array.isArray(raw)) {\n  candidates.push(...raw);\n}\n\nif (raw && typeof raw === 'object') {\n  candidates.push(raw);\n\n  for (const key of ['body', 'data', 'result']) {\n    const nested = raw[key];\n    if (Array.isArray(nested)) {\n      candidates.push(...nested);\n    } else if (nested && typeof nested === 'object') {\n      candidates.push(nested);\n    }\n  }\n}\n\nlet customerId = null;\n\nfor (const candidate of candidates) {\n  if (!candidate || typeof candidate !== 'object') continue;\n  customerId = pickId(candidate.upsert_customer ?? candidate.customer_id ?? candidate.id);\n  if (customerId != null) break;\n}\n\nreturn [{\n  json: {\n    ...base,\n    customer_id: customerId,\n  }\n}];"
      },
      "id": "e3fffb9c-fe79-485a-bff1-3e86da3387f6",
      "name": "Attach Customer Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ manychat_id: String($json.subscriber_id), customer_id: Number($json.customer_id) > 0 ? Number($json.customer_id) : null, role: \"user\", message: $json.user_message || \"(vacío)\", message_type: $json.was_audio ? \"audio\" : \"text\", was_audio: $json.was_audio || false, audio_transcription: $json.was_audio ? $json.user_message : null, intent_detected: null, products_mentioned: [], triggered_human: false, channel: \"manychat\", external_message_id: null, whatsapp_phone_number_id: null }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "4aae601a-0f29-43fb-ac9d-ef666e7cdba1",
      "name": "Save Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Attach Customer Id').first().json || {};\nconst raw = $input.first().json;\n\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\nconst pickBool = (value) => value === true || value === 'true';\n\nconst candidates = [];\n\nif (Array.isArray(raw)) {\n  candidates.push(...raw);\n}\n\nif (raw && typeof raw === 'object') {\n  candidates.push(raw);\n\n  for (const key of ['body', 'data', 'result']) {\n    const nested = raw[key];\n    if (Array.isArray(nested)) {\n      candidates.push(...nested);\n    } else if (nested && typeof nested === 'object') {\n      candidates.push(nested);\n    }\n  }\n}\n\nlet savedMessageId = null;\nlet savedMessageDuplicate = false;\n\nfor (const candidate of candidates) {\n  if (!candidate || typeof candidate !== 'object') continue;\n  savedMessageId = pickId(candidate.id ?? candidate.message_id ?? candidate.saved_message_id);\n  savedMessageDuplicate = pickBool(candidate.duplicate);\n  if (savedMessageId != null) break;\n}\n\nreturn [{\n  json: {\n    ...base,\n    saved_message_id: savedMessageId,\n    saved_message_duplicate: savedMessageDuplicate,\n  }\n}];"
      },
      "id": "ec73de8b-d635-4cc9-a106-600c53bea404",
      "name": "Attach Saved Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nawait new Promise((resolve) => setTimeout(resolve, 8000));\nreturn [{ json: item }];"
      },
      "id": "77ca4bd6-8100-4337-b59f-f9deede674e1",
      "name": "Wait 8s Debounce",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/check_is_latest_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_message_id: $json.saved_message_id || 0 }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "2f0c3923-e419-4818-b5ae-31e30aa6bc6e",
      "name": "Check Is Latest (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Wait 8s Debounce').first().json || {};\nconst rpcResult = $input.first().json;\n\nconst pickBool = (value) => value === true || value === 'true';\nconst pickId = (value) => {\n  if (value == null || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) && num > 0 ? num : null;\n};\n\nconst candidates = [];\nconst visit = (value) => {\n  if (value == null) return;\n\n  if (typeof value === 'string') {\n    try {\n      visit(JSON.parse(value));\n    } catch (error) {}\n    return;\n  }\n\n  if (typeof value === 'boolean') {\n    candidates.push(value);\n    return;\n  }\n\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      visit(item);\n    }\n    return;\n  }\n\n  if (typeof value === 'object') {\n    candidates.push(value);\n    for (const key of ['body', 'data', 'result']) {\n      visit(value[key]);\n    }\n  }\n};\n\nvisit(rpcResult);\n\nlet isLatest = null;\nlet latestMessageId = null;\nlet checkedMessageId = pickId(base.saved_message_id);\n\nfor (const candidate of candidates) {\n  if (typeof candidate === 'boolean') {\n    isLatest = candidate;\n    break;\n  }\n\n  if (!candidate || typeof candidate !== 'object') continue;\n\n  if (latestMessageId == null) {\n    latestMessageId = pickId(candidate.latest_message_id ?? candidate.latestMessageId);\n  }\n\n  if (checkedMessageId == null) {\n    checkedMessageId = pickId(candidate.checked_message_id ?? candidate.checkedMessageId ?? candidate.message_id);\n  }\n\n  if (candidate.check_is_latest_message !== undefined) {\n    isLatest = pickBool(candidate.check_is_latest_message);\n    break;\n  }\n\n  if (candidate.result !== undefined && typeof candidate.result !== 'object') {\n    isLatest = pickBool(candidate.result);\n    break;\n  }\n}\n\nif (isLatest == null && latestMessageId != null && checkedMessageId != null) {\n  isLatest = latestMessageId === checkedMessageId;\n}\n\nconst isDuplicateSavedMessage = base.saved_message_duplicate === true;\nconst debounceReason =\n  base.saved_message_id == null\n    ? 'missing_saved_message_id'\n    : isDuplicateSavedMessage\n      ? 'duplicate_saved_message'\n      : base.is_empty\n        ? 'empty_message'\n        : isLatest == null\n          ? 'rpc_shape_unknown'\n          : isLatest === true\n            ? 'latest'\n            : 'not_latest';\n\nreturn [{\n  json: {\n    ...base,\n    should_continue: base.saved_message_id != null && isLatest === true && !base.is_empty && !isDuplicateSavedMessage,\n    debounce_reason: debounceReason,\n    rpc_is_latest: isLatest,\n    rpc_latest_message_id: latestMessageId,\n    rpc_checked_message_id: checkedMessageId,\n  }\n}];"
      },
      "id": "f40dc5cf-ed5d-4ace-9a30-e00ae2527fe0",
      "name": "Debounce Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b067d32a-122a-932e-d98b-a8f2f5ca5ec0",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "819cfc3f-9e1a-486e-bf69-d0c540be87d1",
      "name": "Is Latest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/v20_build_turn_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_recent_limit: 12 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fc4eb4c3-082e-4501-8927-8e5af10cbe78",
      "name": "Fetch Minimal Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        280
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Debounce Check').first().json || {};\nconst raw = $input.first().json || {};\nconst context = raw.v20_build_turn_context || raw || {};\nif (!context.store || typeof context.store !== 'object') {\n  context.store = {};\n}\nreturn [{\n  json: {\n    ...base,\n    context,\n  }\n}];"
      },
      "id": "6f1b9787-e961-4208-a800-89d9eb0e7362",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3460,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json || {};\nconst ctx = row.context || {};\nconst store = ctx.store || {};\nconst storeBits = [\n  store.name ? `Nombre: ${store.name}` : '',\n  store.store_address || store.address ? `Dirección: ${store.store_address || store.address}` : '',\n  store.store_phone || store.phone ? `Tel: ${store.store_phone || store.phone}` : '',\n  store.store_hours || store.hours ? `Horarios: ${store.store_hours || store.hours}` : '',\n  store.store_website_url ? `Web: ${store.store_website_url}` : '',\n].filter(Boolean);\nconst storeBlock = storeBits.length ? storeBits.join('\\n') : '(Sin datos de tienda en API; pedí que un humano confirme horarios y dirección.)';\nconst recent = Array.isArray(ctx.recent_messages) ? ctx.recent_messages.slice(-8) : [];\nconst history = recent\n  .map((m) => {\n    const role = m.role === 'bot' ? 'Asistente' : 'Cliente';\n    let txt = String(m.message || '').trim();\n    if (!txt) return '';\n    if (txt.length > 900) txt = txt.slice(0, 700) + '…';\n    return `${role}: ${txt}`;\n  })\n  .filter(Boolean)\n  .join('\\n');\nconst firstName = String(row.first_name || 'ahí').trim() || 'ahí';\nconst priceBlock = String(ctx.pricelist_markdown || '').trim() || '(Lista de precios no disponible en el servidor; pedí que un humano confirme valores.)';\nconst agent_system_message = [\n  'Sos el asistente virtual de TechnoStore en WhatsApp (celulares, accesorios, tecnología).',\n  '',\n  '## Estilo',\n  '- Español rioplatense, natural, breve; como alguien del equipo.',\n  '- Podés usar *negritas* y emojis como en WhatsApp cuando ayude a leer precios.',\n  '',\n  '## Hechos del local',\n  '- Dirección, teléfono y horarios: SOLO del bloque TIENDA abajo.',\n  '',\n  '## Precios y financiación',\n  '- Contado, reserva, cuotas y MACRO: usá ÚNICAMENTE el bloque LISTA DE PRECIOS; no inventes modelos ni cifras.',\n  '- Si el cliente pide algo que no está en la lista, decí que un asesor confirma disponibilidad y precio.',\n  '- Podés comentar características generales de equipos; montos siempre según la lista.',\n  '',\n  '## Contexto',\n  '- No digas que buscaste en internet en tiempo real.',\n  '- Off-topic: corto y redirigí a la tienda o celulares.',\n  '',\n  `## Cliente\\nNombre de referencia: ${firstName}.`,\n  '',\n  '## TIENDA',\n  storeBlock,\n  '',\n  '## LISTA DE PRECIOS (abril / archivo del servidor)',\n  priceBlock,\n].join('\\n');\nconst userLine = String(row.user_message || '').trim().slice(0, 2000) || '(sin texto)';\nconst agent_user_prompt = [\n  history ? `## Historial reciente\\n${history}` : '',\n  `## Mensaje actual\\n${userLine}`,\n].filter(Boolean).join('\\n\\n');\nreturn [{ json: { ...row, agent_system_message, agent_user_prompt, groq_model: \"qwen/qwen3-32b\" } }];"
      },
      "id": "31580c7b-5201-4ca4-8535-0ab06c3032c7",
      "name": "Build Groq Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        280
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {
          "maxTokensToSample": 900,
          "temperature": 0.4
        }
      },
      "id": "40479f02-a710-4089-a122-e3c543d8d560",
      "name": "Groq Chat Model (TechnoStore)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4020,
        420
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_GROQ_API_CREDENTIAL",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_user_prompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "={{ $json.agent_system_message }}",
          "maxIterations": 2,
          "returnIntermediateSteps": false,
          "enableStreaming": false,
          "passthroughBinaryImages": false
        }
      },
      "id": "57cb6648-41a0-4e91-a8de-b34584f57420",
      "name": "TechnoStore Assistant (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4020,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst row = $('Build Groq Chat Request').first().json || {};\nconst ctx = row.context || {};\nconst text = String(\n  raw.output ??\n    raw.text ??\n    (raw.json && typeof raw.json === 'object' ? raw.json.output : '') ??\n    raw.choices?.[0]?.message?.content ??\n    '',\n).trim() || 'Perdón, ahora no pude responder. ¿Podés repetir en una frase qué necesitás?';\nconst chunkManyChat = (t, limit) => {\n  const s = String(t || '').trim();\n  if (!s) return [];\n  const out = [];\n  let rest = s;\n  while (rest.length > limit) {\n    let cut = rest.lastIndexOf('\\n\\n', limit);\n    if (cut < limit * 0.4) cut = rest.lastIndexOf('. ', limit);\n    if (cut < limit * 0.4) cut = limit;\n    out.push(rest.slice(0, cut).trim());\n    rest = rest.slice(cut).trim();\n  }\n  if (rest) out.push(rest);\n  return out;\n};\nconst parts = chunkManyChat(text, 1800);\nconst wa_messages = parts.map((p) => ({ type: 'text', text: p }));\nconst botMessageText = wa_messages.map((m) => m.text).join('\\n\\n────────\\n\\n');\nconst model = String(raw.model || row.groq_model || 'qwen/qwen3-32b').trim();\nconst router_output = {\n  route_key: 'v20_groq_chat',\n  confidence: 1,\n  matched_product_keys: [],\n  matched_brand: null,\n  detected_city: null,\n  detected_budget_range: null,\n  detected_payment_method: null,\n  rationale: 'v20 AI Agent (Groq)',\n};\nconst responder_output = {\n  selected_product_keys: [],\n  actions: [],\n  state_delta: { intent_key: 'v20_chat', funnel_stage: 'engaged', lead_score_delta: 1 },\n  reply_text: botMessageText,\n  raw_text: botMessageText,\n};\nconst validator_output = {\n  approved: true,\n  reply_messages: wa_messages,\n  selected_product_keys: [],\n  actions: [],\n  final_state_delta: {\n    intent_key: 'v20_chat',\n    funnel_stage: 'engaged',\n    lead_score_delta: 1,\n    selected_product_keys: [],\n    share_store_location: false,\n    tags_to_add: [],\n    tags_to_remove: [],\n    summary: 'Chat v20',\n  },\n  validation_errors: [],\n  validation_warnings: [],\n  fallback_reason: null,\n};\nreturn [{\n  json: {\n    ...row,\n    context: ctx,\n    router_output,\n    responder_output,\n    validator_output,\n    should_send: true,\n    bot_message_text: botMessageText,\n    wa_messages,\n    responder_provider_name: 'groq',\n    responder_model_name: model,\n  },\n}];"
      },
      "id": "05740e9d-328b-4f0c-b089-810b4f42d2ab",
      "name": "Build Groq Assistant Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/rpc/claim_reply_send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: $json.subscriber_id, p_message_id: $json.saved_message_id || 0 }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "391b63d7-30f8-4ac9-84a7-a843c041b211",
      "name": "Claim Reply Send (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4580,
        280
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b67e120d-442b-4ebd-85c5-6e89533b144a",
              "leftValue": "={{ $json.claim_reply_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3367abad-9f1c-4538-b3a8-9f2a2392adc9",
      "name": "Reply Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4860,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Groq Assistant Reply').first().json || $input.first()?.json || {};\nconst messages = Array.isArray(data.wa_messages)\n  ? data.wa_messages\n  : [{ type: 'text', text: data.bot_message_text || '' }];\nconst wa = [];\nfor (const m of messages) {\n  if (m.type === 'image' && (m.image_url || m.url)) {\n    const url = m.image_url || m.url;\n    wa.push({ type: 'image', url, image_url: url });\n    continue;\n  }\n  const t = String(m.text || '').trim();\n  if (t) wa.push({ type: 'text', text: t });\n}\nreturn [{\n  json: {\n    ...data,\n    payload: {\n      subscriber_id: data.subscriber_id,\n      data: {\n        version: 'v2',\n        content: {\n          type: 'whatsapp',\n          messages: wa,\n        },\n      },\n    },\n  }\n}];"
      },
      "id": "270a5b81-e1d4-49da-ae8d-1b576d2d1adf",
      "name": "Prepare WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5140,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "48aed121-b911-4024-af48-3047dd1342db",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5420,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_MANYCHAT_CREDENTIAL",
          "name": "ManyChat API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Prepare WhatsApp Payload').first().json || {};\nconst sendResponse = $input.first().json || {};\nreturn [{\n  json: {\n    ...data,\n    send_result: {\n      attempted: true,\n      response: sendResponse,\n      sent_at: new Date().toISOString(),\n    },\n  }\n}];"
      },
      "id": "0801dc4e-e67b-4aab-bf3b-18cec71e3107",
      "name": "Build Sent State Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5700,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Groq Assistant Reply').first().json || $input.first()?.json || {};\nreturn [{\n  json: {\n    ...data,\n    should_send: false,\n    send_result: {\n      attempted: false,\n      skipped: true,\n      reason: 'reply_send_not_claimed',\n      sent_at: new Date().toISOString(),\n    },\n  }\n}];"
      },
      "id": "6d71666a-c48e-4627-9e6f-11e9cfcb022f",
      "name": "Build Skipped State Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5140,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst parseJsonish = (value) => {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n  try {\n    return JSON.parse(trimmed);\n  } catch (error) {\n    return value;\n  }\n};\nconst asRecord = (value) => {\n  const parsed = parseJsonish(value);\n  return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n};\nconst asArray = (value) => {\n  const parsed = parseJsonish(value);\n  return Array.isArray(parsed) ? parsed : [];\n};\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\nconst extractReplyText = (messages) =>\n  asArray(messages)\n    .map((message) => {\n      if (!message || typeof message !== 'object') return '';\n      return String(message.text ?? message.reply_text ?? '').trim();\n    })\n    .filter(Boolean)\n    .join('\\n\\n')\n    .trim();\n\nconst context = asRecord(data.context);\nconst router = asRecord(data.router_output);\nconst responder = asRecord(data.responder_output);\nconst validator = asRecord(data.validator_output);\nconst state = asRecord(validator.final_state_delta);\n\nconst now = new Date().toISOString();\nconst currentTags = Array.isArray(context.customer?.tags) ? context.customer.tags : [];\nconst unique = (values) => [...new Set(values.filter(Boolean))];\nconst mergedTags = unique([\n  ...currentTags,\n  ...(Array.isArray(state.tags_to_add) ? state.tags_to_add : []),\n]).filter((tag) => !(Array.isArray(state.tags_to_remove) ? state.tags_to_remove : []).includes(tag));\n\nconst currentLeadScore = Number(context.customer?.lead_score || 0);\nconst nextLeadScore = Math.max(0, Math.min(100, currentLeadScore + Number(state.lead_score_delta || 0)));\nconst selectedProductKeys = Array.isArray(validator.selected_product_keys) ? validator.selected_product_keys : [];\n\nconst updates = {\n  last_bot_interaction: now,\n  updated_at: now,\n  last_intent: state.intent_key || null,\n  funnel_stage: state.funnel_stage || null,\n  lead_score: nextLeadScore,\n  tags: mergedTags,\n};\n\nif (selectedProductKeys[0]) {\n  updates.interested_product = selectedProductKeys[0];\n}\n\nif (state.payment_method_key) {\n  updates.payment_method_last = state.payment_method_key;\n}\n\nconst brandList = unique(selectedProductKeys\n  .map((key) => {\n    const product = (Array.isArray(context.candidate_products) ? context.candidate_products : []).find((item) => item.product_key === key);\n    return product?.brand_key || null;\n  })\n  .filter(Boolean));\n\nif (brandList.length > 0) {\n  const currentBrands = Array.isArray(context.customer?.brands_mentioned) ? context.customer.brands_mentioned : [];\n  updates.brands_mentioned = unique([...brandList, ...currentBrands]).slice(0, 10);\n}\n\nconst conversationSummary = String(state.summary || router.rationale || 'Turno procesado').slice(0, 220);\nconst conversationInsights = unique([\n  'Ruta ' + String(router.route_key || 'unknown'),\n  ...selectedProductKeys.slice(0, 3).map((key) => 'Producto ' + key),\n]).slice(0, 8);\n\nconst shouldPersistBotMessage = toBool(data.should_send);\nconst sendResult = asRecord(data.send_result);\nconst botMessageText = String(\n  data.bot_message_text ||\n    extractReplyText(data.wa_messages) ||\n    extractReplyText(validator.reply_messages) ||\n    responder.reply_text ||\n    ''\n).trim();\n\nconst botMessageRow = shouldPersistBotMessage\n  ? {\n      manychat_id: data.subscriber_id,\n      customer_id: context.customer?.customer_id || null,\n      role: 'bot',\n      message: botMessageText,\n      message_type: 'text',\n      intent_detected: state.intent_key || null,\n      products_mentioned: selectedProductKeys,\n      triggered_human: false,\n      was_audio: false,\n      channel: 'manychat',\n      external_message_id: null,\n      whatsapp_phone_number_id: null,\n      applied_tags: Array.isArray(state.tags_to_add) ? state.tags_to_add : [],\n      payment_methods_detected: state.payment_method_key ? [state.payment_method_key] : [],\n      brands_detected: brandList,\n      topics_detected: [String(router.route_key || 'generic_sales')],\n      funnel_stage_after: state.funnel_stage || null,\n      conversation_summary: conversationSummary,\n      conversation_insights: conversationInsights,\n      lead_score_after: nextLeadScore,\n      workflow_version: 'v20',\n      route_key: router.route_key || 'generic_sales',\n      send_result: sendResult,\n    }\n  : {\n      skip_save: true,\n      reason: 'reply_not_sent',\n      manychat_id: data.subscriber_id,\n      workflow_version: 'v20',\n    };\n\nreturn [{\n  json: {\n    ...data,\n    customer_updates: updates,\n    bot_message_row: botMessageRow,\n}\n}];"
      },
      "id": "7bab4a66-7b07-47c6-a22b-f919e7b85757",
      "name": "Build Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5980,
        280
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/customers?manychat_id=eq.{{ $(\"Build Update Payload\").first().json.subscriber_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Update Payload\").first().json.customer_updates) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "1f58da08-b275-46c5-8331-25ccbfb9a046",
      "name": "Update Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "efb163af-9e9f-4fd2-924c-96f89fda3a81",
      "name": "Should Save Bot Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3d7fe56-c89e-4d5b-a069-efbe1f5bc3e8",
              "leftValue": "={{ $(\"Build Update Payload\").first().json.bot_message_row && $(\"Build Update Payload\").first().json.bot_message_row.skip_save !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_API_BASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Update Payload\").first().json.bot_message_row || {}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "78440bc5-a4f5-4bc8-b341-eee79b11a567",
      "name": "Save Bot Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "continueOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Update Payload').first().json || {};\n\nreturn [{\n  json: {\n    ...base,\n    state_update_status: 'ok',\n  }\n}];"
      },
      "id": "9a0bad0c-2446-4566-ac1d-2c3b95b9c786",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Groq Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Attach Customer Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Customer Id": {
      "main": [
        [
          {
            "node": "Save Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Message": {
      "main": [
        [
          {
            "node": "Attach Saved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Saved Message": {
      "main": [
        [
          {
            "node": "Wait 8s Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s Debounce": {
      "main": [
        [
          {
            "node": "Check Is Latest (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Latest (RPC)": {
      "main": [
        [
          {
            "node": "Debounce Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce Check": {
      "main": [
        [
          {
            "node": "Is Latest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Latest?": {
      "main": [
        [
          {
            "node": "Fetch Minimal Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Minimal Context": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Build Groq Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Chat Request": {
      "main": [
        [
          {
            "node": "TechnoStore Assistant (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model (TechnoStore)": {
      "ai_languageModel": [
        [
          {
            "node": "TechnoStore Assistant (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TechnoStore Assistant (AI Agent)": {
      "main": [
        [
          {
            "node": "Build Groq Assistant Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Assistant Reply": {
      "main": [
        [
          {
            "node": "Claim Reply Send (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Reply Send (RPC)": {
      "main": [
        [
          {
            "node": "Reply Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Claimed?": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skipped State Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to WhatsApp": {
      "main": [
        [
          {
            "node": "Build Sent State Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sent State Input": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skipped State Input": {
      "main": [
        [
          {
            "node": "Build Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Payload": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Customer": {
      "main": [
        [
          {
            "node": "Should Save Bot Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Save Bot Message?": {
      "main": [
        [
          {
            "node": "Save Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bot Message": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
