n8n/v18/TechnoStore_v18_sales_responder.json
{
  "name": "TechnoStore - v18 Sales Responder",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4628134c-0001-3b8d-5568-9587138f50e1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst context = data.context || {};\nconst router = data.router_output || {};\nconst candidateProducts = Array.isArray(context.candidate_products) ? context.candidate_products : [];\nconst normalizedUserMessage = String(data.user_message || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst unique = (values) => [...new Set(values.filter(Boolean))];\nconst formatBrandLabel = (brandKey) => {\n  const labels = {\n    apple: 'iPhone',\n    samsung: 'Samsung',\n    motorola: 'Motorola',\n    xiaomi: 'Xiaomi',\n    redmi: 'Redmi',\n    google: 'Google Pixel',\n    jbl: 'JBL',\n  };\n  return labels[brandKey] || String(brandKey || '').trim();\n};\nconst formatArs = (value) => {\n  const amount = Number(value);\n  if (!Number.isFinite(amount) || amount <= 0) return null;\n  return 'ARS ' + new Intl.NumberFormat('es-AR', { maximumFractionDigits: 0 }).format(amount);\n};\nconst publicPrice = (product) => {\n  const promo = Number(product?.promo_price_ars);\n  if (Number.isFinite(promo) && promo > 0) return promo;\n  const price = Number(product?.price_ars);\n  if (Number.isFinite(price) && price > 0) return price;\n  return Number.POSITIVE_INFINITY;\n};\nconst sortProducts = (products) =>\n  [...products].sort((left, right) => {\n    if (Number(right?.in_stock) !== Number(left?.in_stock)) {\n      return Number(right?.in_stock) - Number(left?.in_stock);\n    }\n    const leftPrice = publicPrice(left);\n    const rightPrice = publicPrice(right);\n    if (leftPrice !== rightPrice) {\n      return leftPrice - rightPrice;\n    }\n    return String(left?.product_name || '').localeCompare(String(right?.product_name || ''), 'es');\n  });\nconst formatAvailability = (product) => {\n  if (product?.in_stock) return 'Disponible';\n  if (Number(product?.delivery_days) > 0) return 'Entrega estimada en ' + Number(product.delivery_days) + ' días';\n  return 'Consultar disponibilidad';\n};\nconst buildInstallmentLines = (product) => {\n  const cuotasQty = Number(product?.cuotas_qty);\n  if (!Number.isFinite(cuotasQty) || cuotasQty < 2) return [];\n  const lines = [];\n  const bancarizada = formatArs(product?.bancarizada_cuota);\n  const macro = formatArs(product?.macro_cuota);\n  if (bancarizada) lines.push('Cuotas bancarizadas: ' + cuotasQty + ' de ' + bancarizada + '.');\n  if (macro) lines.push('Cuotas Macro: ' + cuotasQty + ' de ' + macro + '.');\n  return lines;\n};\nconst buildProductBlock = (product, includeInstallments = true) => {\n  const lines = [String(product?.product_name || 'Producto')];\n  const contado = formatArs(product?.promo_price_ars ?? product?.price_ars);\n  if (contado) lines.push('Contado: ' + contado + '.');\n  if (includeInstallments) lines.push(...buildInstallmentLines(product));\n  lines.push('Estado: ' + formatAvailability(product) + '.');\n  if (product?.product_url) lines.push('Link: ' + String(product.product_url).trim());\n  return lines.join('\\n');\n};\n\nconst brandKeys = unique(candidateProducts.map((product) => String(product?.brand_key || '').trim().toLowerCase()).filter(Boolean));\nconst singleBrandKey = brandKeys.length === 1 ? brandKeys[0] : null;\nconst visibleProducts = sortProducts(candidateProducts).slice(0, router.route_key === 'exact_product_quote' ? 1 : singleBrandKey === 'apple' ? 6 : 5);\nconst visibleKeys = visibleProducts.map((product) => String(product.product_key || '')).filter(Boolean);\nconst brandOptions = unique(candidateProducts.map((product) => formatBrandLabel(String(product?.brand_key || '').trim().toLowerCase())).filter(Boolean)).slice(0, 6);\n\nlet replyText = '';\nlet actions = [];\nlet selectedProductKeys = [];\nlet stateDelta = {\n  intent_key: 'greeting',\n  funnel_stage: 'browsing',\n  lead_score_delta: 3,\n  share_store_location: false,\n  selected_product_keys: [],\n  tags_to_add: [],\n  tags_to_remove: [],\n  payment_method_key: null,\n  summary: 'Turno comercial determinístico.',\n};\n\nswitch (router.route_key) {\n  case 'brand_catalog': {\n    if (!singleBrandKey) {\n      replyText = brandOptions.length > 0\n        ? 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.\\n\\nHoy lo puedo filtrar por ' + brandOptions.join(', ') + '.'\n        : 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.';\n      stateDelta.intent_key = 'catalog_browse';\n      stateDelta.summary = 'Faltó una marca única para listar catálogo.';\n      break;\n    }\n\n    if (visibleProducts.length === 0) {\n      replyText = 'No veo productos activos de ' + formatBrandLabel(singleBrandKey) + ' en este momento. Si querés, te filtro otra marca.';\n      stateDelta.intent_key = 'catalog_browse';\n      stateDelta.summary = 'Sin productos activos para la marca pedida.';\n      break;\n    }\n\n    replyText =\n      'Te paso ' +\n      formatBrandLabel(singleBrandKey) +\n      ' publicados ahora:\\n\\n' +\n      visibleProducts.map((product) => buildProductBlock(product, true)).join('\\n\\n') +\n      '\\n\\nSi querés, te lo filtro por memoria, color o presupuesto.';\n    actions = ['attach_store_url'];\n    selectedProductKeys = [...visibleKeys];\n    stateDelta.intent_key = 'catalog_browse';\n    stateDelta.summary = 'Catálogo determinístico por marca: ' + formatBrandLabel(singleBrandKey) + '.';\n    break;\n  }\n  case 'exact_product_quote': {\n    const product = visibleProducts[0] || candidateProducts[0] || null;\n    if (!product) {\n      replyText = brandOptions.length > 0\n        ? 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.\\n\\nHoy lo puedo filtrar por ' + brandOptions.join(', ') + '.'\n        : 'Decime la marca o el modelo exacto y te paso el dato correcto.';\n      stateDelta.intent_key = 'price_inquiry';\n      stateDelta.funnel_stage = 'browsing';\n      stateDelta.summary = 'No hubo producto concreto para cotizar.';\n      break;\n    }\n\n    replyText =\n      'Te paso el dato exacto de ' +\n      String(product.product_name || 'ese equipo') +\n      ':\\n\\n' +\n      buildProductBlock(product, true) +\n      '\\n\\nSi querés, también te digo color, memoria o cómo avanzar con la compra.';\n    actions = ['attach_store_url'];\n    selectedProductKeys = [String(product.product_key || '')].filter(Boolean);\n    stateDelta.intent_key = 'price_inquiry';\n    stateDelta.funnel_stage = 'interested';\n    stateDelta.lead_score_delta = 8;\n    stateDelta.summary = 'Cotización determinística de producto puntual.';\n    break;\n  }\n  case 'generic_sales':\n  default: {\n    replyText = brandOptions.length > 0\n      ? 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.\\n\\nHoy lo puedo filtrar por ' + brandOptions.join(', ') + '.'\n      : 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.';\n    stateDelta.intent_key = 'greeting';\n    stateDelta.funnel_stage = 'browsing';\n    stateDelta.lead_score_delta = 3;\n    stateDelta.summary = 'Se pidió la marca antes de listar productos.';\n    break;\n  }\n}\n\nif (!/(cuota|cuotas|financi|tarjeta|bancarizada|macro|medio[s]? de pago|sin inter)/i.test(normalizedUserMessage)) {\n  replyText = replyText.replace(/\\nCuotas[^\\n]+/gi, '');\n}\n\nstateDelta.selected_product_keys = [...selectedProductKeys];\n\nreturn [{\n  json: {\n    ...data,\n    responder_output: {\n      route_key: router.route_key || 'generic_sales',\n      reply_text: replyText.trim(),\n      selected_product_keys: selectedProductKeys,\n      actions,\n      state_delta: stateDelta,\n    },\n    responder_provider_name: 'deterministic',\n    responder_model_name: 'deterministic-brand-sales',\n    responder_raw_text: replyText.trim(),\n  }\n}];"
      },
      "id": "5d97005f-26e9-2275-fdb3-f29e29ed9f20",
      "name": "Build Sales Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos el vendedor de WhatsApp de TechnoStore Salta: cercano, claro y profesional. Sin markdown, sin asteriscos. Prohibido inventar: stock, colores, precios, cuotas, montos sin interés, links, modelos o datos que no estén en el contexto (recent_thread, store, candidate_products). Si el usuario nombra un modelo concreto y está en candidate_products, respondé SOLO de ese equipo en ese turno: no ofrezcas otro modelo ni “también te paso la ficha de…” salvo que el usuario pida alternativas, comparar, “qué más tenés” o una consulta genérica de marca sin modelo. Si el usuario especifica RAM, memoria o color, respetá esa variante exacta; si no está, decilo claramente antes de sugerir otra. Si pide un equipo que no figura en candidate_products, decilo en una frase y ofrecé alternativas del mismo listado. Si falta un dato, aclaración corta o catálogo. Si pide foto, imagen o cómo se ve, usá image_url solo si viene en candidate_products y acompañalo con el product_url exacto; no mandes la web general si ya tenés ficha del producto. Listados: un producto por bloque, orden de candidate_products. Una sola marca en la lista: no cruces con otra marca salvo que lo pidan. URLs solo si vienen en product_url. No aceptamos compras con DNI. No ofrezcas crypto, Bitcoin, USDT ni frases de pago fuera del proceso estándar del negocio. Contado ≠ financiado. Por defecto con cuotas comunicá el monto POR CUOTA (bancarizada_cuota, macro_cuota) y cuotas_qty; no muestres bancarizada_total ni macro_total salvo que el usuario pida explícitamente total financiado o precio final en cuotas. Nunca digas que el precio se mantiene en cuotas. Cuotas presenciales típicamente hasta 6. Si el usuario ya cerró con 'gracias', 'perfecto', 'listo' o similar, no repitas links ni cierres de venta. Cerrá con UNA pregunta solo si suma; no fuerces. Guías de marca (iPhone escalera, Samsung amplio, etc.) solo cuando aplique consulta genérica. Devolvé SOLO JSON con reply_text, selected_product_keys, actions, state_delta.",
          "maxIterations": 1
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "e39c94c3-3fc2-e442-0f1b-30f8f20a8251",
      "name": "AI Agent (Sales)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        860,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "={{ $json.responder_model_name || \"gpt-5.4-mini\" }}",
        "options": {}
      },
      "id": "3f61f723-8d23-8e91-f1d3-2254a6aa7233",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        520
      ],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json || {};\nconst responder = base.responder_output && typeof base.responder_output === 'object'\n  ? base.responder_output\n  : {\n      route_key: base.router_output?.route_key || 'generic_sales',\n      reply_text: 'Decime qué marca querés ver y te paso solo productos reales con precio correcto.',\n      selected_product_keys: [],\n      actions: [],\n      state_delta: {\n        intent_key: 'greeting',\n        funnel_stage: 'browsing',\n        lead_score_delta: 3,\n        share_store_location: false,\n        selected_product_keys: [],\n        tags_to_add: [],\n        tags_to_remove: [],\n        payment_method_key: null,\n        summary: 'Fallback determinístico por falta de respuesta.',\n      },\n    };\n\nreturn [{\n  json: {\n    ...base,\n    responder_output: responder,\n    responder_provider_name: 'deterministic',\n    responder_model_name: 'deterministic-brand-sales',\n    responder_raw_text: String(responder.reply_text || ''),\n  }\n}];"
      },
      "id": "e37a882b-5655-5d84-8e3d-7450e70690da",
      "name": "Normalize Sales Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Sales Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sales Prompt": {
      "main": [
        [
          {
            "node": "Normalize Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
