n8n/v18/TechnoStore_v18_sales_responder.json
{
  "name": "TechnoStore - v18 Sales Responder",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4628134c-0001-3b8d-5568-9587138f50e1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst context = data.context || {};\nconst router = data.router_output || {};\nconst store = context.store || {};\nconst website = String(store.store_website_url || 'https://technostoresalta.com').trim();\nconst recentMessages = Array.isArray(context.recent_messages) ? context.recent_messages : [];\nconst candidateProducts = Array.isArray(context.candidate_products) ? context.candidate_products : [];\nconst usedIphoneCandidates = Array.isArray(context.used_iphone_candidates) ? context.used_iphone_candidates : [];\nconst interestedProductKey = String(context.customer?.interested_product || '').trim();\nconst websiteHost = website.replace(/^https?:\\/\\//, '').replace(/\\/$/, '').toLowerCase();\n\nconst recentThread = recentMessages\n  .slice(-10)\n  .map((message) => ({\n    role: message.role === 'bot' ? 'assistant' : 'user',\n    message: String(message.message || '').trim(),\n  }))\n  .filter((message) => message.message);\n\nconst focusedProductKey = router.search_mode === 'thread_context' ? interestedProductKey || null : null;\nconst recentStoreUrlMentions = recentThread.filter(\n  (message) => message.role === 'assistant' && websiteHost && message.message.toLowerCase().includes(websiteHost)\n).length;\n\nconst curatedCandidates = candidateProducts.slice(0, router.route_key === 'exact_product_quote' ? 4 : 5).map((product) => ({\n  product_key: product.product_key,\n  product_name: product.product_name,\n  product_url: product.product_url || null,\n  condition: product.condition,\n  storage_gb: product.storage_gb,\n  color: product.color,\n  in_stock: product.in_stock,\n  delivery_days: product.delivery_days,\n  price_ars: product.price_ars,\n  promo_price_ars: product.promo_price_ars,\n  price_usd: product.price_usd,\n  image_url: product.image_url,\n}));\n\nconst curatedUsedIphones = usedIphoneCandidates\n  .slice(0, router.should_offer_used_iphones === true ? 4 : 2)\n  .map((item) => ({\n    id: item.id,\n    model_name: item.model_name,\n    family_number: item.family_number,\n    tier_key: item.tier_key,\n    storage_gb: item.storage_gb,\n    color: item.color,\n    battery_health_pct: item.battery_health_pct,\n    battery_note: item.battery_note,\n    condition: item.condition,\n    sale_price_usd: item.sale_price_usd,\n  }));\n\nconst promptPayload = {\n  route_key: router.route_key,\n  search_mode: router.search_mode,\n  should_offer_store_url: router.should_offer_store_url === true,\n  should_offer_used_iphones: router.should_offer_used_iphones === true,\n  first_interaction: recentThread.length <= 1,\n  focused_product_key: focusedProductKey,\n  recent_store_url_mentions: recentStoreUrlMentions,\n  user_message: String(data.user_message || ''),\n  recent_thread: recentThread,\n  customer: context.customer || {},\n  store: {\n    store_location_name: store.store_location_name || 'TechnoStore Salta',\n    store_address: store.store_address || '',\n    store_payment_methods: store.store_payment_methods || '',\n    store_shipping_policy: store.store_shipping_policy || '',\n    store_warranty_new: store.store_warranty_new || '',\n    store_warranty_used: store.store_warranty_used || '',\n    store_website_url: website,\n  },\n  used_iphone_catalog: context.used_iphone_catalog || {},\n  candidate_products: curatedCandidates,\n  used_iphone_candidates: curatedUsedIphones,\n};\n\nconst prompt = [\n  'Respondé al siguiente turno comercial usando SOLO los datos provistos.',\n  'La prioridad absoluta es el pedido actual del usuario. No te quedes pegado a un producto viejo del hilo si el usuario cambió de modelo, marca o versión.',\n  'Usá recent_thread y focused_product_key solo para continuidad cuando el usuario diga \"ese\", \"el anterior\", \"y en cuotas?\", \"y la entrega?\" o similares sin nombrar un modelo nuevo.',\n  'Si el usuario menciona un modelo o marca concreta, respondé primero sobre ese pedido y no lo cambies por otro equipo salvo que pida alternativas, comparación o que ese modelo no exista y primero lo aclares.',\n  'Si el usuario menciona dos equipos, comparalos o respondé sobre ambos sin perderte en uno solo.',\n  'Formateá los precios de candidate_products en ARS con separadores argentinos, por ejemplo ARS 1.165.080.',\n  'Si el usuario pregunta si un color puntual está disponible, respondé que sí, ese color está disponible.',\n  'Los used_iphone_candidates usan USD. Si los mencionás, respetá sale_price_usd tal cual y mostralos como USD 529. No inventes conversión a ARS.',\n  'Si should_offer_used_iphones es true y hay used_iphone_candidates, podés ofrecer 1 a 3 opciones usadas como alternativa más accesible.',\n  'Si el usuario pidió un modelo exacto, respondé primero sobre ese pedido. Solo después abrí la puerta a usados si ayuda por presupuesto, exploración o porque candidate_products no muestra un match claro.',\n  'Si candidate_products no tiene un match claro para un iPhone pedido pero used_iphone_candidates sí, podés aclararlo de forma simple y ofrecer esas opciones usadas.',\n  'No prometas ni ofrezcas un link de pago directo en una consulta normal de producto. Solo mencioná un link real si ya existe en el contexto del pedido web.',\n  'No compartas technostoresalta.com por inercia. Solo compartí una URL si realmente ayuda en este turno y evitá repetirla si ya apareció en el hilo.',\n  'Si route_key es exact_product_quote y candidate_products[0].product_url existe, compartí ese link específico como máximo una vez y de forma natural. No mandes la home del sitio en ese caso.',\n  'Si el usuario está explorando o comparando, no empujes pago, envío, retiro ni cierre de compra por defecto.',\n  'Si preguntan por pago, cuotas, envío o cómo comprar, respondé eso de forma clara y tranquila, sin sonar insistente. No aceptamos compras con DNI.',\n  'No termines todas las respuestas con una pregunta. Solo hacelo si ayuda a aclarar algo real o a avanzar sin presión.',\n  'Devolvé SOLO JSON válido.',\n  'Esquema esperado:',\n  JSON.stringify({\n    reply_text: 'string',\n    selected_product_keys: ['string'],\n    actions: ['attach_store_url'],\n    state_delta: {\n      intent_key: 'price_inquiry',\n      funnel_stage: 'interested',\n      lead_score_delta: 8,\n      share_store_location: false,\n      selected_product_keys: ['string'],\n      tags_to_add: ['catalog_interest'],\n      tags_to_remove: [],\n      payment_method_key: null,\n      summary: 'string',\n    },\n  }),\n  'Datos del turno:',\n  JSON.stringify(promptPayload, null, 2),\n].join('\\n\\n');\n\nreturn [{\n  json: {\n    ...data,\n    responder_model_name: String($env.GROQ_MODEL_SALES || 'llama3-8b-8192'),\n    chatInput: prompt,\n  }\n}];"
      },
      "id": "5d97005f-26e9-2275-fdb3-f29e29ed9f20",
      "name": "Build Sales Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos el vendedor de WhatsApp de TechnoStore Salta. Respondé en español natural, humano, breve y profesional. Sin markdown, sin viñetas. Tratá todos los productos publicados como disponibles. Si preguntan si un color puntual está disponible, respondé que sí, ese color está disponible. No inventes precios, cuotas, links ni modelos. No aceptamos compras con DNI; si preguntan por medios de pago o cómo comprar, nunca ofrezcas DNI como opción. Usá únicamente los hechos provistos. Si el usuario pidió un modelo exacto, respondé primero sobre ese modelo y no pivotees a otro salvo que pida alternativas o comparación. Si el contexto trae used_iphone_candidates, podés ofrecerlos como alternativa más accesible sin perder el tono premium-comercial. El sitio es secundario y no se comparte por inercia. No cierres todas las respuestas con pago, envío o una pregunta; solo cuando ayuda de verdad. Devolvé SOLO JSON válido con las claves: reply_text, selected_product_keys, actions, state_delta. No agregues explicaciones fuera del JSON.",
          "maxIterations": 1
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "e39c94c3-3fc2-e442-0f1b-30f8f20a8251",
      "name": "AI Agent (Sales)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "model": "={{ $json.responder_model_name || \"llama3-8b-8192\" }}",
        "options": {}
      },
      "id": "3f61f723-8d23-8e91-f1d3-2254a6aa7233",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        860,
        520
      ],
      "credentials": {
        "groqApi": {
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Sales Prompt').first().json || {};\nconst raw = $input.first().json || {};\n\nconst fallbackExactCandidate = Array.isArray(base.context?.candidate_products) ? base.context.candidate_products[0] : null;\nconst rawText = String(raw.output || raw.text || '').trim();\nconst normalizedUserMessage = String(base.user_message || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst asksColorAvailability = /\\b(blanco|blanca|white|naranja|orange|azul|blue|negro|negra|black|gris|gray|plata|silver|rosa|pink|verde|green|violeta|purple|dorado|gold)\\b/.test(normalizedUserMessage) && /\\b(hay|tenes|tienen|disponible|stock|queda|viene)\\b/.test(normalizedUserMessage);\nconst normalizedUserMessage = String(base.user_message || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst asksBuyingStep = /(pago|pagar|comprar|compra|link de pago|transferencia|cuotas|envio|retiro|como compro|como comprar|senia|seña)/.test(normalizedUserMessage);\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (innerError) {\n      parsed = null;\n    }\n  }\n}\n\nconst formatArs = (value) => {\n  const amount = Number(value);\n  if (!Number.isFinite(amount)) return null;\n  return new Intl.NumberFormat('es-AR', { maximumFractionDigits: 0 }).format(amount);\n};\n\nconst fallbackReply = (() => {\n  if (base.router_output?.route_key === 'exact_product_quote' && fallbackExactCandidate) {\n    const priceArs = formatArs(fallbackExactCandidate.promo_price_ars || fallbackExactCandidate.price_ars);\n    return 'Sí, tengo ' + fallbackExactCandidate.product_name + '. Queda en ARS ' + priceArs + '.';\n  }\n  return 'Sí, te ayudo por acá. Decime qué modelo buscás y te paso precio y disponibilidad.';\n})();\n\nconst selected = Array.isArray(parsed?.selected_product_keys) ? parsed.selected_product_keys : [];\nconst actions = Array.isArray(parsed?.actions) ? parsed.actions : [];\nconst stateDelta = parsed?.state_delta && typeof parsed.state_delta === 'object' ? parsed.state_delta : {};\nlet replyText = String(parsed?.reply_text || fallbackReply).replace(/\\s+/g, ' ').trim();\n\nconst priceCandidates = Array.isArray(base.context?.candidate_products) ? base.context.candidate_products : [];\nfor (const product of priceCandidates) {\n  for (const rawPrice of [product?.promo_price_ars, product?.price_ars]) {\n    const numericPrice = Number(rawPrice);\n    const formattedPrice = formatArs(numericPrice);\n    if (!Number.isFinite(numericPrice) || !formattedPrice) continue;\n    const rawString = String(Math.trunc(numericPrice));\n    replyText = replyText\n      .replace(new RegExp('ARS\\\\s*' + rawString + '(?!\\\\d)', 'g'), 'ARS ' + formattedPrice)\n      .replace(new RegExp('\\\\$\\\\s*' + rawString + '(?!\\\\d)', 'g'), 'ARS ' + formattedPrice)\n      .replace(new RegExp('(?<!\\\\d)' + rawString + '(?!\\\\d)', 'g'), formattedPrice);\n  }\n}\n\nif (base.router_output?.route_key === 'exact_product_quote') {\n  replyText = replyText\n    .replace(/Si quer[eé]s,\\s*te paso el link de pago[^.]*\\.?/gi, 'Si querés, te paso más detalles.')\n    .replace(/¿Te gustar[ií]a conocer las opciones de pago\\??/gi, '')\n    .replace(/¿Te gustar[ií]a saber las opciones de pago\\??/gi, '')\n    .replace(/¿Te gustar[ií]a que te ayude a (?:coordinar|avanzar|iniciar)[^?]*\\??/gi, '')\n    .replace(/¿Hay alg[uú]n otro modelo o marca que te interese\\??/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!asksBuyingStep) {\n    replyText = replyText\n      .replace(/Para avanzar con la compra[^.]*\\.?/gi, '')\n      .replace(/Pod[eé]s iniciar la compra[^.]*\\.?/gi, '')\n      .replace(/Si prefer[ií]s avanzar online[^.]*\\.?/gi, '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n  }\n}\n\nif (asksColorAvailability && !/^si[,\\s]/i.test(replyText) && !/^sí[,\\s]/i.test(replyText)) {\n  replyText = ('Sí, ese color está disponible. ' + replyText).replace(/\\s+/g, ' ').trim();\n}\n\nreturn [{\n  json: {\n    ...base,\n    responder_output: {\n      route_key: base.router_output?.route_key || 'generic_sales',\n      reply_text: replyText,\n      selected_product_keys: selected,\n      actions,\n      state_delta: stateDelta,\n    },\n    responder_provider_name: 'groq',\n    responder_model_name: base.responder_model_name || 'llama3-8b-8192',\n    responder_raw_text: rawText,\n  }\n}];"
      },
      "id": "e37a882b-5655-5d84-8e3d-7450e70690da",
      "name": "Normalize Sales Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Sales Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sales Prompt": {
      "main": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Sales)": {
      "main": [
        [
          {
            "node": "Normalize Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
