n8n/v18/TechnoStore_v18_sales_responder.json
{
  "name": "TechnoStore - v18 Sales Responder",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4628134c-0001-3b8d-5568-9587138f50e1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst context = data.context || {};\nconst router = data.router_output || {};\nconst candidateProducts = Array.isArray(context.candidate_products) ? context.candidate_products : [];\nconst normalizedUserMessage = String(data.user_message || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst unique = (values) => [...new Set(values.filter(Boolean))];\nconst formatBrandLabel = (brandKey) => {\n  const labels = {\n    apple: 'iPhone',\n    samsung: 'Samsung',\n    motorola: 'Motorola',\n    xiaomi: 'Xiaomi',\n    redmi: 'Redmi',\n    google: 'Google Pixel',\n    jbl: 'JBL',\n  };\n  return labels[brandKey] || String(brandKey || '').trim();\n};\nconst formatArs = (value) => {\n  const amount = Number(value);\n  if (!Number.isFinite(amount) || amount <= 0) return null;\n  return 'ARS ' + new Intl.NumberFormat('es-AR', { maximumFractionDigits: 0 }).format(amount);\n};\nconst publicPrice = (product) => {\n  const promo = Number(product?.promo_price_ars);\n  if (Number.isFinite(promo) && promo > 0) return promo;\n  const price = Number(product?.price_ars);\n  if (Number.isFinite(price) && price > 0) return price;\n  return Number.POSITIVE_INFINITY;\n};\nconst sortProducts = (products) =>\n  [...products].sort((left, right) => {\n    if (Number(right?.in_stock) !== Number(left?.in_stock)) {\n      return Number(right?.in_stock) - Number(left?.in_stock);\n    }\n    const leftPrice = publicPrice(left);\n    const rightPrice = publicPrice(right);\n    if (leftPrice !== rightPrice) {\n      return leftPrice - rightPrice;\n    }\n    return String(left?.product_name || '').localeCompare(String(right?.product_name || ''), 'es');\n  });\nconst buildInstallmentLine = (product) => {\n  const cuotasQty = Number(product?.cuotas_qty);\n  if (!Number.isFinite(cuotasQty) || cuotasQty < 2) return null;\n  const options = [];\n  const bancarizada = formatArs(product?.bancarizada_cuota);\n  const macro = formatArs(product?.macro_cuota);\n  if (bancarizada) options.push(cuotasQty + ' de ' + bancarizada + ' con bancarizadas');\n  if (macro) options.push(cuotasQty + ' de ' + macro + ' con Macro');\n  return options.length > 0 ? 'Cuotas: ' + options.join(' o ') : null;\n};\nconst buildProductBlock = (product) => {\n  const lines = [String(product?.product_name || 'Producto')];\n  const contado = formatArs(product?.promo_price_ars ?? product?.price_ars);\n  if (contado) lines.push('Contado: ' + contado);\n  const cuotas = buildInstallmentLine(product);\n  if (cuotas) lines.push(cuotas);\n  if (product?.product_url) lines.push('Link: ' + String(product.product_url).trim());\n  return lines.join('\\n');\n};\nconst buildBrandSection = (brandKey, products) => {\n  const lines = [formatBrandLabel(brandKey) + ':'];\n  for (const product of products) {\n    lines.push('', buildProductBlock(product));\n  }\n  return lines.join('\\n');\n};\n\nconst requestedBrandKeys = unique((Array.isArray(router.requested_brand_keys) ? router.requested_brand_keys : []).map((value) => String(value || '').trim().toLowerCase()));\nconst rankedProducts = [...candidateProducts];\nconst catalogProducts = sortProducts(candidateProducts);\nconst availableBrandKeys = unique(candidateProducts.map((product) => String(product?.brand_key || '').trim().toLowerCase()).filter(Boolean));\nconst brandOptions = unique(candidateProducts.map((product) => formatBrandLabel(String(product?.brand_key || '').trim().toLowerCase())).filter(Boolean)).slice(0, 6);\nconst catalogBrandKeys = requestedBrandKeys.length > 0 ? requestedBrandKeys : availableBrandKeys;\nconst mentionsPaymentIntent = /(cuota|cuotas|contado|tarjeta|macro|bancarizada|financi|pago|pagar|transferencia)/.test(normalizedUserMessage);\n\nlet replyText = '';\nlet actions = [];\nlet selectedProductKeys = [];\nlet stateDelta = {\n  intent_key: 'greeting',\n  funnel_stage: 'browsing',\n  lead_score_delta: 3,\n  share_store_location: false,\n  selected_product_keys: [],\n  tags_to_add: [],\n  tags_to_remove: [],\n  payment_method_key: mentionsPaymentIntent ? 'contado_cuotas' : null,\n  summary: 'Turno comercial determinístico.',\n};\n\nswitch (router.route_key) {\n  case 'brand_catalog': {\n    if (catalogBrandKeys.length === 0) {\n      replyText = brandOptions.length > 0\n        ? 'Decime la marca que te gusta y te mando opciones con precio de contado y cuotas.\\n\\nHoy estan saliendo mucho ' + brandOptions.join(', ') + '.'\n        : 'Decime la marca que te gusta y te mando opciones con precio de contado y cuotas.';\n      stateDelta.intent_key = 'catalog_browse';\n      stateDelta.summary = 'Faltó una marca concreta para listar catálogo.';\n      break;\n    }\n\n    const sections = [];\n    const missingBrands = [];\n\n    for (const brandKey of catalogBrandKeys) {\n      const brandProducts = sortProducts(catalogProducts.filter((product) => String(product?.brand_key || '').trim().toLowerCase() === brandKey));\n      if (brandProducts.length === 0) {\n        missingBrands.push(formatBrandLabel(brandKey));\n        continue;\n      }\n      sections.push(buildBrandSection(brandKey, brandProducts));\n      selectedProductKeys.push(...brandProducts.map((product) => String(product.product_key || '')).filter(Boolean));\n    }\n\n    if (sections.length === 0) {\n      replyText = 'Ahora mismo no veo publicaciones activas para esa marca. Si queres, te muestro otra y te paso opciones con contado y cuotas.';\n      stateDelta.intent_key = 'catalog_browse';\n      stateDelta.summary = 'Sin productos activos para las marcas pedidas.';\n      break;\n    }\n\n    const intro = catalogBrandKeys.length > 1\n      ? 'Te paso todo lo que tengo publicado de ' + catalogBrandKeys.map(formatBrandLabel).join(' y ') + ', con precio de contado y cuotas:'\n      : 'Te paso lo que tengo publicado de ' + formatBrandLabel(catalogBrandKeys[0]) + ', con precio de contado y cuotas:';\n    const outroParts = [];\n    if (missingBrands.length > 0) {\n      outroParts.push('De ' + missingBrands.join(' y ') + ' no veo publicaciones activas ahora mismo.');\n    }\n    outroParts.push('Si queres, te marco rapido cuales son las mejores opciones segun tu presupuesto.');\n\n    replyText = [intro, ...sections, outroParts.join(' ')].join('\\n\\n');\n    actions = ['attach_store_url'];\n    selectedProductKeys = unique(selectedProductKeys);\n    stateDelta.intent_key = 'catalog_browse';\n    stateDelta.funnel_stage = 'browsing';\n    stateDelta.lead_score_delta = catalogBrandKeys.length > 1 ? 7 : 6;\n    stateDelta.summary = catalogBrandKeys.length > 1\n      ? 'Catálogo determinístico para varias marcas: ' + catalogBrandKeys.map(formatBrandLabel).join(', ') + '.'\n      : 'Catálogo determinístico por marca: ' + formatBrandLabel(catalogBrandKeys[0]) + '.';\n    break;\n  }\n  case 'exact_product_quote': {\n    const product = rankedProducts[0] || null;\n    if (!product) {\n      replyText = brandOptions.length > 0\n        ? 'Decime la marca o el modelo y te paso la opcion correcta con contado y cuotas.\\n\\nHoy estan entrando mucho ' + brandOptions.join(', ') + '.'\n        : 'Decime la marca o el modelo y te paso la opcion correcta con contado y cuotas.';\n      stateDelta.intent_key = 'price_inquiry';\n      stateDelta.funnel_stage = 'browsing';\n      stateDelta.summary = 'No hubo producto concreto para cotizar.';\n      break;\n    }\n\n    replyText =\n      'Te paso una opcion concreta para cerrar rapido:\\n\\n' +\n      buildProductBlock(product) +\n      '\\n\\nSi queres, tambien te digo color, memoria y la mejor opcion de cuotas para avanzar con la compra.';\n    actions = ['attach_store_url'];\n    selectedProductKeys = [String(product.product_key || '')].filter(Boolean);\n    stateDelta.intent_key = 'price_inquiry';\n    stateDelta.funnel_stage = 'interested';\n    stateDelta.lead_score_delta = 8;\n    stateDelta.summary = 'Cotización determinística de producto puntual.';\n    break;\n  }\n  case 'generic_sales':\n  default: {\n    replyText = brandOptions.length > 0\n      ? 'Decime la marca o el modelo que te interesa y te paso opciones buenas con precio de contado y cuotas.\\n\\nHoy estan saliendo mucho ' + brandOptions.join(', ') + '.'\n      : 'Decime la marca o el modelo que te interesa y te paso opciones buenas con precio de contado y cuotas.';\n    stateDelta.intent_key = 'greeting';\n    stateDelta.funnel_stage = 'browsing';\n    stateDelta.lead_score_delta = 3;\n    stateDelta.summary = 'Se pidió la marca antes de listar productos.';\n    break;\n  }\n}\n\nstateDelta.selected_product_keys = [...selectedProductKeys];\n\nreturn [{\n  json: {\n    ...data,\n    responder_output: {\n      route_key: router.route_key || 'generic_sales',\n      reply_text: replyText.trim(),\n      selected_product_keys: selectedProductKeys,\n      actions,\n      state_delta: stateDelta,\n    },\n    responder_provider_name: 'deterministic',\n    responder_model_name: 'deterministic-brand-sales',\n    responder_raw_text: replyText.trim(),\n  }\n}];"
      },
      "id": "5d97005f-26e9-2275-fdb3-f29e29ed9f20",
      "name": "Build Sales Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json || {};\nconst responder = base.responder_output && typeof base.responder_output === 'object'\n  ? base.responder_output\n  : {\n      route_key: base.router_output?.route_key || 'generic_sales',\n      reply_text: 'Decime la marca o el modelo que te interesa y te paso opciones con precio de contado y cuotas.',\n      selected_product_keys: [],\n      actions: [],\n      state_delta: {\n        intent_key: 'greeting',\n        funnel_stage: 'browsing',\n        lead_score_delta: 3,\n        share_store_location: false,\n        selected_product_keys: [],\n        tags_to_add: [],\n        tags_to_remove: [],\n        payment_method_key: null,\n        summary: 'Fallback determinístico por falta de respuesta.',\n      },\n    };\n\nreturn [{\n  json: {\n    ...base,\n    responder_output: responder,\n    responder_provider_name: 'deterministic',\n    responder_model_name: 'deterministic-brand-sales',\n    responder_raw_text: String(responder.reply_text || ''),\n  }\n}];"
      },
      "id": "e37a882b-5655-5d84-8e3d-7450e70690da",
      "name": "Normalize Sales Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Sales Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sales Prompt": {
      "main": [
        [
          {
            "node": "Normalize Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
